<section class="widget h-thin-divider" id="sec-app-details">
  <div class="widget-body clearfix">
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <form
          id="frm-app-details"
          #appdetailsform="ngForm"
          class="form-horizontal"
          role="form"
          data-parsley-priority-enabled="false"
          novalidate="novalidate"
          data-parsley-validate
          data-parsley-focus="first"
        >
          <!-- Project Name -->
          <div class="form-group row">
            <div class="col-md-2"></div>
            <label for="name" class="col-md-2 form-control-label text-md-right"
              >Project Name
              <span class="help-block">Required </span>
            </label>
            <div class="col-md-6 col-xs-12">
              <input
                type="text"
                class="form-control"
                id="app-project-name"
                [(ngModel)]="formdata.project" [ngModelOptions]="{standalone: true}"
                required
                data-parsley-required-message="Error: Project Name is required"
              />
            </div>
            <div class="col-md-2"></div>
          </div>
          <!-- Client Name -->
          <div class="form-group row">
            <div class="col-md-2"></div>
            <label for="name" class="col-md-2 form-control-label text-md-right"
              >Client Name
              <span class="help-block">Required </span>
            </label>
            <div class="col-md-6 col-xs-12">
              <input
                type="text"
                class="form-control"
                id="app-client-name"
                [(ngModel)]="formdata.client" [ngModelOptions]="{standalone: true}"
                required
                data-parsley-required-message="Error: Client Name is required"
              />
            </div>
            <div class="col-md-2"></div>
          </div>
          <!-- Sponsor Name -->
          <div class="form-group row">
            <div class="col-md-2"></div>
            <label for="name" class="col-md-2 form-control-label text-md-right"
              >Sponsor Name
              <span class="help-block">Required </span>
            </label>
            <div class="col-md-6 col-xs-12">
              <input
                type="text"
                class="form-control"
                id="app-sponsor-name"
                [(ngModel)]="formdata.sponsor" [ngModelOptions]="{standalone: true}"
                required
                data-parsley-required-message="Error: Sponsor Name is required"
              />
            </div>
            <div class="col-md-2"></div>
          </div>
          <!-- WBS Code -->
          <div class="form-group row">
            <div class="col-md-2"></div>
            <label for="name" class="col-md-2 form-control-label text-md-right"
              >WBS Code
              <span class="help-block">Required </span>
            </label>
            <div class="col-md-6 col-xs-12">
              <input
                type="text"
                class="form-control"
                id="app-wbs-code"
                [(ngModel)]="formdata.wbsCode" [ngModelOptions]="{standalone: true}"
                required
                data-parsley-required-message="Error: WBS is required"
              />
            </div>
            <div class="col-md-2"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
