<section class="widget h-thin-divider" id="view-pdf-content">
  <div class="widget-body clearfix">
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <form #reviewForm="ngForm">
        </form>
      </div>
    </div>
  </div>
</section>
