<section class="widget h-thin-divider" id="sec-aws-details">
  <div class="widget-body clearfix">
    <div class="row">
      <div class="col-lg-12 col-xs-12">
          <form
          id="frm-aws-details"
          #awsdetailsform="ngForm"
          class="form-horizontal"
          role="form"
          data-parsley-priority-enabled="false"
          novalidate="novalidate"
          data-parsley-validate
          data-parsley-focus="first"
        >
         <div style="margin-bottom: 5px;">
            <div>
              <button class="btn btn-sm btn-primary" (click)="onAddRow()">Add Row</button>
              <button class="ml20 btn btn-sm btn-primary" (click)="onRemoveSelected()">Remove Selected</button>
              <button class="ml20 btn btn-sm btn-primary" (click)="clearData()">Clear Data</button>
              <button class="ml20 btn btn-sm btn-primary" (click)="sizeToFit()">Size To Fit</button>
              <button class="ml10 btn btn-sm btn-primary" (click)="autoSizeAll()">Auto-Size All</button>
            </div>
          </div>
          <div>
            <ag-grid-angular
              #agGrid
              style="width: 100%; height: 400px;"
              id="myGrid"
              class="ag-theme-balham"
              [columnDefs]="columnDefs"
              [rowData]="rowData"
              [animateRows]="true"
              [rowSelection]="rowSelection"
              [defaultColDef]="defaultColDef"
              [enableCellChangeFlash]="true"
              [animateRows]="true"
              [singleClickEdit]="true"
              (cellValueChanged)="onCellValueChanged($event)"
              (rowValueChanged)="onRowValueChanged($event)"
              (gridReady)="onGridReady($event)"
              (firstDataRendered)="onFirstDataRendered($event)"
            ></ag-grid-angular>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
