<section class="widget h-thin-divider" id="sec-prod-details">
  <div class="widget-body clearfix">
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <form
          id="frm-prod-details"
          #proddetailsform="ngForm"
          class="form-horizontal"
          role="form"
          data-parsley-priority-enabled="false"
          novalidate="novalidate"
          data-parsley-validate
          data-parsley-focus="first"
        >
          <!-- Offering -->
          <div class="form-group row">
            <div class="col-md-2"></div>
            <label for="name" class="col-md-2 form-control-label text-md-right"
              >Package Offering
              <span class="help-block">Required </span>
            </label>
            <div class="col-md-6 col-xs-12">
              <select
                required
                [(ngModel)]="formdata.package"
                title="Package Offering"
                name="pkg-offering"
                class="form-control fdatable"
                id="prod-pkg-offering"
                placeholder="Select Package"
                data-parsley-required-message="Error: Package Offering is required"
              >
                <option>Bronze</option>
                <option>Silver</option>
                <option>Gold</option>
                <option>Platinum</option>
              </select>
            </div>
            <div class="col-md-2"></div>
          </div>
          <!-- FedRamp -->
          <div class="form-group row">
            <div class="col-md-2"></div>
            <label for="sel-fedramp" class="col-md-2 form-control-label text-md-right"
              >FedRamp
            <span class="help-block">Required </span>
            </label>
            <div class="col-md-6 col-xs-12">
              <select
                required
                [(ngModel)]="formdata.fedramp"
                title="FedRamp"
                name="fedramp"
                class="form-control fdatable"
                id="sel-fedramp"
                placeholder="Select FedRamp"
                data-parsley-required-message="Error: FedRamp required"
              >
                <option value="0">N/A</option>
                <option value="1">Moderate</option>
                <option value="2">High</option>
              </select>
            </div>
            <div class="col-md-2"></div>
          </div>
          <!-- PII -->
          <div class="form-group row">
            <div class="col-md-2"></div>
            <label for="name" class="col-md-2 form-control-label text-md-right"
              >Personally Identifiable Information (PII)
            </label>
            <div class="col-md-6 col-xs-12">
              <input
                type="checkbox"
                class="form-control form-checkbox"
                [(ngModel)]="piienabled" [ngModelOptions]="{standalone: true}"
                id="enabled"
              />
            </div>
            <div class="col-md-2"></div>
          </div>
          <!-- PHI -->
          <div class="form-group row">
            <div class="col-md-2"></div>
            <label for="name" class="col-md-2 form-control-label text-md-right"
              >Protected Health Information (PHI)
            </label>
            <div class="col-md-6 col-xs-12">
              <input
                type="checkbox"
                class="form-control form-checkbox"
                [(ngModel)]="phienabled" [ngModelOptions]="{standalone: true}"
                id="enabled"
              />
            </div>
            <div class="col-md-2"></div>
          </div>
          <!-- HIPPA -->
          <div class="form-group row">
            <div class="col-md-2"></div>
            <label for="name" class="col-md-2 form-control-label text-md-right"
              >Health Insurance Portability and Accountability Act of 1996
              (HIPPA)
            </label>
            <div class="col-md-6 col-xs-12">
              <input
                type="checkbox"
                class="form-control form-checkbox"
                [(ngModel)]="hippaenabled" [ngModelOptions]="{standalone: true}"
                id="enabled"
              />
            </div>
            <div class="col-md-2"></div>
          </div>
          <!-- IRS -->
          <div class="form-group row">
            <div class="col-md-2"></div>
            <label for="name" class="col-md-2 form-control-label text-md-right"
              >Internal Revenue Service (IRS)
            </label>
            <div class="col-md-6 col-xs-12">
              <input
                type="checkbox"
                class="form-control form-checkbox"
                [(ngModel)]="irsenabled" [ngModelOptions]="{standalone: true}"
                id="enabled"
              />
            </div>
            <div class="col-md-2"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
