<section class="widget h-thin-divider" id="sec-service-details">
  <div class="widget-body clearfix">
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <form
          id="frm-service-details"
          #servicedetailsform="ngForm"
          class="form-horizontal"
          role="form"
          data-parsley-priority-enabled="false"
          novalidate="novalidate"
          data-parsley-validate
          data-parsley-focus="first"
        >
          <!-- Patching -->
          <div class="form-group row">
            <div class="col-md-2"></div>
            <label for="name" class="col-md-2 form-control-label text-md-right"
              >Patching
            </label>
            <div class="col-md-6 col-xs-12">
              <input
                type="checkbox"
                class="form-control form-checkbox"
                id="enabled"
              />
            </div>
            <div class="col-md-2"></div>
          </div>
          <!-- Backup -->
          <div class="form-group row">
            <div class="col-md-2"></div>
            <label for="name" class="col-md-2 form-control-label text-md-right"
              >Backup
            </label>
            <div class="col-md-6 col-xs-12">
              <input
                type="checkbox"
                class="form-control form-checkbox"
                id="enabled"
              />
            </div>
            <div class="col-md-2"></div>
          </div>
          <!-- Monitoring -->
          <div class="form-group row">
            <div class="col-md-2"></div>
            <label for="name" class="col-md-2 form-control-label text-md-right"
              >Monitoring
            </label>
            <div class="col-md-6 col-xs-12">
              <input
                type="checkbox"
                class="form-control form-checkbox"
                id="enabled"
              />
            </div>
            <div class="col-md-2"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
