<section class="widget h-thin-divider" id="sec-cots-details">
  <div class="widget-body clearfix">
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <div style="margin-bottom: 5px;">
          <div>
              <button id="btn-add-prodgroup" type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                data-keyboard="false" data-backdrop="static" data-target="#add-cots-prodgroup" title="Add New Product Group"
                (click)="onAddNewProductGroup()">
                <i class="fa fa-plus"></i>
                Add New Product Group
              </button>
              <button class="ml20 btn btn-sm btn-primary" (click)="onRemoveSelected()">Remove Selected</button>
              <button class="ml20 btn btn-sm btn-primary" (click)="clearData()">Clear Data</button>
              <button class="ml20 btn btn-sm btn-primary" (click)="sizeToFit()">Size To Fit</button>
              <button class="ml10 btn btn-sm btn-primary" (click)="autoSizeAll()">Auto-Size All</button>
              <button class="ml20 btn btn-sm btn-primary" (click)="expandAll()">Expand All</button>
              <button class="ml10 btn btn-sm btn-primary" (click)="collapseAll()">Collapse All</button>
          </div>
        </div>
        <div *ngIf="showAddProductGroup" app-add-cots-prodgroup></div>
        <div>
          <ag-grid-angular
            #agGrid
            style="width: 100%; height: 400px;"
            id="myGrid"
            class="ag-theme-balham"
            [columnDefs]="columnDefs"
            [rowData]="rowData"
            [animateRows]="true"
            [rowSelection]="rowSelection"
            [defaultColDef]="defaultColDef"
            [enableCellChangeFlash]="true"
            [animateRows]="true"
            [singleClickEdit]="true"
            [groupMultiAutoColumn]="true"
            [groupIncludeFooter]="true"
            [groupIncludeTotalFooter]="true"
            (cellValueChanged)="onCellValueChanged($event)"
            (rowValueChanged)="onRowValueChanged($event)"
            (gridReady)="onGridReady($event)"
            (firstDataRendered)="onFirstDataRendered($event)"
          ></ag-grid-angular>
        </div>
      </div>
    </div>
  </div>
</section>

