<ol class="breadcrumb">
    <li class="">
      <a [routerLink]='["/app/bom/search"]' id="brd-view-app">View Products</a>
    </li>
    <li class=" active">
      <a href="javascript:void(0)">Upload Product Files</a>
    </li>
</ol>
<div>
  <h1 class="h4">Upload Product Files</h1>
  <div aria-live="assertive" id="error-box">
    <div role="alert" *ngIf="showErrorFlag" class="row">
      <div class="col-lg-12 col-xs-12">
        <div class="form-group row">
          <div class="col-md-12 col-xs-12">
            <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'">
              <div [innerHTML]="alert.msg"></div>
            </alert>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form id="frm-bulk-upload" class="form-horizontal" role="form" data-parsley-priority-enabled="false" novalidate="novalidate"
    data-parsley-validate data-parsley-focus="first">
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <section class="widget h-thin-divider">
          <div class="widget-body clearfix">
            <!-- <form #rentdetail="ngForm" id="frm-rent-details" data-parsley-priority-enabled="false" novalidate="novalidate"
              data-parsley-validate data-parsley-focus="first"> -->
              <div class="center">
                <file-drop dropZoneLabel="Drop folder or files here" (onFileDrop)="dropped($event)"
                (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                    <span></span>
                </file-drop>
                <div class="row mt10">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                      <progressbar [animate]="false" [value]="fileuploadprogress" type="success"><b>{{fileuploadprogress | number: '1.0-0' }}%</b></progressbar>
                    </div>
                </div>
                <div class="row mt10">
                    <div class="col-lg-4 col-xs-4">
                        <ng-container *ngIf="!allvalidfiles">
                          <alert *ngFor="let pmalert of prodmapalerts; let i = index" [type]="pmalert.type + ' alert-sm'">
                              <div [innerHTML]="pmalert.msg"></div>
                          </alert>
                        </ng-container>
                    </div>
                    <div class="col-lg-4 col-xs-4">
                    </div>
                    <div class="col-lg-4 col-xs-4">
                        <button *ngIf="allvalidfiles" type="button" id="btn-upload-all" class="txt-gap btn btn-primary float-right" (click)="uploadAllDroppedFiles()">Upload All</button>
                    </div>
                </div>
                <div class="upload-table">
                  <table class="table table-hover" [mfData]="uploadtracker"  #mf2="mfDataTable" [mfRowsOnPage]="10" [mfActivePage]="1"
                  [ngBusy]="{busy: busyUploadFile, message: uploadProgressMessage, backdrop: false}"
                    [mfIsServerPagination]="false" style="cursor: pointer;">
                      <thead>
                          <tr>
                              <th>Name</th>
                              <th>Size</th>
                              <th>Last Modified</th>
                              <th>Progress</th>
                              <th>Start</th>
                              <th>End</th>
                              <th>Ack Time</th>
                              <th>Elapsed (mm:ss)</th>
                          </tr>
                      </thead>
                      <tbody class="upload-name-style">
                          <tr *ngFor="let item of mf2.data; let i=index">
                              <td><strong>{{ item.name }}</strong></td>
                              <td>{{ item.size | filesize}}</td>
                              <td>{{ item.modificationTime | date:'medium'  }}</td>
                              <td >
                                <progressbar [animate]="false" [value]="item.progress" type="success"><b>{{item.progress | number: '1.0-0' }}%</b></progressbar>
                              </td>
                              <td>{{ item.starttime | date:'HH:mm:ss'  }}</td>
                              <td>{{ item.endtime |  date:'HH:mm:ss'  }}</td>
                              <td>{{ item.uploadstartduration | minuteSeconds }}</td>
                              <td><strong>{{ item.uploadtotalduration | minuteSeconds }}</strong></td>
                          </tr>
                      </tbody>
                      <tfoot>
                          <tr>
                              <td colspan="8">
                                  <mfBootstrapPaginator [rowsOnPageSet]="[10, 25, 50]"></mfBootstrapPaginator>
                              </td>
                          </tr>
                      </tfoot>
                  </table>
              </div>
              </div>
              <div class="row mt10">
                  <div class="col-lg-12 col-xs-12">
                  <span id="cd-ax-agree-err"></span>
                  </div>
              </div>
              <div aria-live="assertive">
                  <div role="alert" *ngIf="showErrorFlag" class="row">
                    <div class="col-lg-12 col-xs-12">
                      <div class="form-group row">
                        <div class="col-md-12 col-xs-12">
                          <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'">
                            <div [innerHTML]="alert.msg"></div>
                          </alert>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            <!-- </form> -->
          </div>
        </section>
        <!-- <section class="widget h-divider autooverflow" widget>
            <header>
              <div class="row">
                <div class="col-lg-4 col-xs-4">
                    <div class="row">
                        <div class="col-lg-8 col-xs-8 pull-right">
                          <h4>Uploaded Documents</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-4">
                </div>
                <div class="col-lg-4 col-xs-4">
                </div>
              </div>
              <div class="widget-controls">
                <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-right"></i></a>
                <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
              </div>
            </header>
            <div class="widget-body">
              <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12 col-xs-12">
                          <fieldset>
                            <div class="form-group row h-thin-divider ">
                              <div class="col-lg-12 col-xs-12">
                                <table class="mr20 table table-hover" [mfData]="listUploadedFiles"
                                #mf="mfDataTable" [mfRowsOnPage]="10" [mfActivePage]="1" [mfIsServerPagination]="false" style="cursor: pointer;"
                                >
                                  <colgroup>
                                    <col style="width:35%">
                                    <col style="width:15%">
                                    <col style="width:15%">
                                    <col style="width:25%">
                                    <col style="width:10%">
                                  </colgroup>
                                  <thead>
                                    <tr>
                                      <th><span>Filename</span></th>
                                      <th><span>Size</span></th>
                                      <th><span>Date Uploaded</span></th>
                                      <th><span>ETag</span></th>
                                      <th><span>Download</span></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let doc of mf.data; let row = index;">
                                      <td>{{doc.filename}}</td>
                                      <td>{{doc.filesize | filesize}}</td>
                                      <td>{{doc.timestamp | date:'medium'}}</td>
                                      <td>{{doc.etag}}</td>
                                      <td><button type="button" id="btn-download-file-{{row}}" class="txt-gap btn btn-primary" (click)="downloadFile(doc)">Download</button></td>
                                    </tr>
                                  </tbody>
                                  <tfoot>
                                      <td colspan="5">
                                          <mfBootstrapPaginator [rowsOnPageSet]="[10, 25, 50]"></mfBootstrapPaginator>
                                      </td>
                                  </tfoot>
                                </table>
                              </div>
                            </div>
                          </fieldset>
                        </div>
                      </div>
                </div>
              </div>
            </div>
        </section> -->
      </div>
    </div>
  </form>
</div>
<div info-box [msg]="msgDisplay" [title]="titleDisplay" (hideModal)="onCloseInfoPopup()"></div>
