<ol class="breadcrumb">
    <li class="">
      <a [routerLink]='["/app/bom/search"]' id="brd-view-app">Home</a>
    </li>
    <li class=" active">
      <a href="javascript:void(0)">Create BOM</a>
    </li>
</ol>
<div>
  <h1 class="h4">Bill of Materials - {{currentTabInfo}}</h1>
  <div aria-live="assertive" id="error-box">
    <div role="alert" *ngIf="showErrorFlag" class="row">
      <div class="col-lg-12 col-xs-12">
        <div class="form-group row">
          <div class="col-md-12 col-xs-12">
            <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'">
              <div [innerHTML]="alert.msg"></div><div>Email us for assistance at:</div>
            </alert>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form id="frm-create-bom" class="form-horizontal" role="form" data-parsley-priority-enabled="false" novalidate="novalidate"
    data-parsley-validate data-parsley-focus="first">
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <section class="widget h-divider">
          <div class="widget-body clearfix">
            <div class="row">
              <div class="col-lg-11 col-xs-11">
                <bom-form-wizard>
                  <bom-wizard-step [title]="'1. Applicant'" (onNext)="onStep1Next($event, true)" (onClear)="onClearStep1Form($event)"
                    (onStepSaveAndExit)="onStep1Next($event, false)" [ngBusy]="{busy: busyCreateStep1, message: 'Saving Step 1...', backdrop: false}">
                    <bom-app-details [formdata]="model"></bom-app-details>
                  </bom-wizard-step>
                  <bom-wizard-step [title]="'2. Products'" (onNext)="onStep2Next($event, true)" (onClear)="onClearStep2Form($event)"
                    (onStepSaveAndExit)="onStep2Next($event, false)" [ngBusy]="{busy: busyCreateStep2, message: 'Saving Step 2...', backdrop: false}">
                    <bom-prod-details [formdata]="model"></bom-prod-details>
                  </bom-wizard-step>
                  <bom-wizard-step [title]="'3. Services'" (onNext)="onStep3Next($event, true)" (onClear)="onClearStep3Form($event)"
                    (onStepSaveAndExit)="onStep3Next($event, false)" [ngBusy]="{busy: busyCreateStep3, message: 'Saving Step 3...', backdrop: false}">
                    <bom-service-details [formdata]="model"></bom-service-details>
                  </bom-wizard-step>
                  <bom-wizard-step [title]="'4. Managed Services'" (onNext)="onStep4Next($event, true)" (onClear)="onClearStep4Form($event)"
                  (onStepSaveAndExit)="onStep4Next($event, false)" [ngBusy]="{busy: busyCreateStep4, message: 'Saving Step 4...', backdrop: false}">
                    <bom-managed-svcs [formdata]="model"></bom-managed-svcs>
                  </bom-wizard-step>
                  <bom-wizard-step [title]="'5. COTS'" (onNext)="onStep5Next($event, true)" (onClear)="onClearStep5Form($event)"
                  (onStepSaveAndExit)="onStep5Next($event, false)" [ngBusy]="{busy: busyCreateStep5, message: 'Saving Step 5...', backdrop: false}">
                  <bom-cots-details [formdata]="model"></bom-cots-details>
                  </bom-wizard-step>
                  <bom-wizard-step [title]="'6. AWS'" (onNext)="onStep6Next($event, true)" (onClear)="onClearStep6Form($event)"
                    (onStepSaveAndExit)="onStep6Next($event, false)" [ngBusy]="{busy: busyCreateStep6, message: 'Saving Step 6...', backdrop: false}">
                    <bom-aws-details [formdata]="model"></bom-aws-details>
                  </bom-wizard-step>
                  <bom-wizard-step [title]="'7. File Uploads'" (onNext)="onStep7Next($event, true)" (onClear)="onClearStep7Form($event)"
                    (onStepSaveAndExit)="onStep7Next($event, false)" [ngBusy]="{busy: busyCreateStep7, message: 'Saving Step 7...', backdrop: false}">
                    <bom-doc-upload [formdata]="model"></bom-doc-upload>
                  </bom-wizard-step>
                  <bom-wizard-step [title]="'8. Review & Submit'" (onComplete)="onComplete($event)"
                  (onStepSaveAndExit)="onStep8Exit($event)" (onSubmitAgree)="onSubmitAgree($event)"
                  (onSubmitValidate)="onSubmitValidate($event)"
                    [ngBusy]="{busy: busySubmitApplication, message: 'Submitting Application...', backdrop: false}">
                    <div [ngSwitch]="isCompleted">
                      <div *ngSwitchDefault>
                        <bom-review-submit [formdata]="model"></bom-review-submit>
                      </div>
                      <div *ngSwitchCase="true">
                        <section class="widget h-thin-divider" id="contentToConvert">
                          <div class="widget-body clearfix">
                            <div class="row mt25">
                              <div class="col-lg-12 col-xs-12">
                                <span class="mx-auto">Thank you! You have completed all the steps and your submission
                                  is successful.
                                  Your application reference ID is </span>
                              </div>
                            </div>
                            <div class="row mt25">
                              <div class="col-lg-12 col-xs-12">
                                <span class="mx-auto">Click <a [routerLink]="['/app/bom/search']">Here</a> to
                                  View Submitted
                                  Applications</span>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  </bom-wizard-step>
                </bom-form-wizard>
              </div>
              <div class="col-lg-1 col-xs-1">
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div aria-live="assertive">
      <div role="alert" *ngIf="showErrorFlag" class="row">
        <div class="col-lg-12 col-xs-12">
          <div class="form-group row">
            <div class="col-md-12 col-xs-12">
              <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'">
                <div [innerHTML]="alert.msg"></div><div>Email us for assistance at: </div>
              </alert>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- <div *ngIf="isDebugAllowed()" class="row">
  <div class="col-lg-12 col-xs-12">
    <ngx-json-viewer [json]="dbmodel"></ngx-json-viewer>
  </div>
</div> -->
<div bsModal #agreetoSubmitModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="modal-header" style="background-color:#4175ab; color: #ffff">
      <h4 class="modal-title mx-auto">Electronic Signature</h4>
      <button type="button" class="close pull-right" style="background-color:#4175ab; color: #ffff" aria-label="Close" (click)="cancelSubmit()">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div style="margin-left: 10px; margin-right: 10px; margin-top: 10px;">
        <span><b> Pursuant to Commercial Law Article, Sec. 21-117, the Department of Assessments and Taxation will accept
            electronic signatures on submissions made through this online portal. By making use of this online portal, the
            submitter hereby acknowledges that any electronic signature provided is the legal equivalent of an original,
            manual signature affixed to a hard-copy submission and warrants that the Department and/or other taxing
            authority may rely upon it as such. </b></span>
      </div>
    </div>
    <!--Modal Footer-->
    <div class="modal-footer">
    <button id="btn-iagree" type="button" class="btn btn-primary mx-auto" (click)="agreetoSubmit()" style="width:100%">I AGREE</button>
    </div>
  </div>
</div>
