@import "../../../scss/bootstrap-datepicker3.min";
@import "../../../../node_modules/bootstrap-select/sass/bootstrap-select";
@import "../../../../node_modules/bootstrap/scss/bootstrap-grid";
@import "../../../scss/helpers";


.create-rtc-form {
  width: 95%;
}

.mr20 {
  margin-right: 20px;
}


fieldset {
  legend {
      font-weight: bold !important;
  }
}