<ol class="breadcrumb">
  <li class="">
    <a [routerLink]='["/app/bom/search"]' id="dly-ops">View Applications</a>
  </li>
  <li class=" active">
    <a href="javascript:void(0)">Application Detail</a>
  </li>
</ol>
<div>
  <h1 class="h4">View Homeowner Tax Credit Application</h1>
  <div class="row">
    <p class="col-md-4 form-control-label text-md-left">
      {{errorMessage}}
    </p>
  </div>
  <form id="frm-view-rtc" class="form-horizontal" role="form" data-parsley-priority-enabled="false" novalidate="novalidate"
    data-parsley-validate data-parsley-focus="first">
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <section class="widget h-divider">
          <div class="widget-body clearfix">
            <div class="row">
              <div class="col-lg-12 col-xs-12">
                <bom-review-submit [formdata]="model"></bom-review-submit>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div aria-live="assertive">
      <div role="alert" *ngIf="showErrorFlag" class="row">
        <div class="col-lg-12 col-xs-12">
          <div class="form-group row">
            <div class="col-md-12 col-xs-12">
              <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'">
                <div [innerHTML]="alert.msg"></div><div>Email us for assistance at: </div>
              </alert>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

