<h1 class="page-title">Dashboard</h1>
<div class="row">
  <div class="col-lg-2 col-md-6 col-12">
      <section class="widget bg-primary text-white height200">
          <div class="widget-body clearfix">
              <div class="row flex-nowrap">
                  <div class="col-3">
                      <span class="widget-icon">
                          <i class="glyphicon glyphicon-folder-open"></i>
                      </span>
                  </div>
                  <div class="col-9">
                      <h6 class="m-0">PRODUCTS</h6>
                      <p class="h2 m-0 fw-normal"></p>
                  </div>
              </div>
              <div class="row flex-nowrap">
                  <div class="col-6">
                      <h6 class="m-0">Structured</h6>
                      <p class="value5">6.06M</p>
                  </div>
                  <div class="col-6">
                      <h6 class="m-0">Unstructured</h6>
                      <p class="value5">5000</p>
                  </div>
              </div>
              <!-- <div class="row flex-nowrap mt10">
                  <div class="col-6">
                      <h6 class="m-0">Actual Hours</h6>
                      <p class="value5"></p>
                  </div>
                  <div class="col-6">
                      <h6 class="m-0">Actual Cost</h6>
                      <p class="value5"></p>
                  </div>
              </div> -->
          </div>
      </section>
  </div>
  <div class="col-lg-2 col-md-6 col-12">
      <section class="widget bg-primary text-white height200">
          <div class="widget-body clearfix">
              <div class="row flex-nowrap">
                  <div class="col-3">
                      <span class="widget-icon">
                          <i class="glyphicon glyphicon-user"></i>
                      </span>
                  </div>
                  <div class="col-9">
                      <h6 class="m-0">HEAD COUNT</h6>
                      <p class="h2 m-0 fw-normal">82</p>
                  </div>
              </div>
              <div class="row flex-nowrap">
                  <div class="col-6">
                      <h6 class="m-0">LCATs</h6>
                      <p class="value5">23</p>
                  </div>
                  <div class="col-6">
                      <h6 class="m-0">Contractors</h6>
                      <p class="value5">10</p>
                  </div>
              </div>
              <div class="row flex-nowrap mt10">
                  <div class="col-6">
                      <h6 class="m-0">USDC</h6>
                      <p class="value5">13</p>
                  </div>
                  <div class="col-6">
                      <h6 class="m-0">PM</h6>
                      <p class="value5">6</p>
                  </div>
              </div>
          </div>
      </section>
  </div>
</div>
