<h1 class="h4 page-title hd-bdr">Accounts</h1>
<div data-ng-controller="accountdashboardController" class="accountdashboardController">
    <div aria-live="assertive">
        <div role="alert" *ngIf="showErrorFlag" class="row">
            <div class="col-lg-12 col-xs-12">
                <div class="form-group row">
                    <div class="col-md-12 col-xs-12">
                        <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'">
                            <div [innerHTML]="alert.msg"></div>
                        </alert>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10">
            <section class="widget h-divider" widget>
                <div class="widget-body">
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-md-6">
                        </div>
                        <div class="col-lg-offset-1 col-md-4">
                        </div>
                        <div class="col-md-2">
                            <div class="pull-right">
                                <button id="btn-cr-account" type="button" class="btn btn-outline-primary" data-toggle="modal"
                                    data-keyboard="false" data-backdrop="static" data-target="#create-account" title="Add Account"
                                    (click)="addAccount()">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    Add Account
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="grid-wrapper">
                        <ag-grid-angular
                            #agGrid
                            style="width: 100%; height: 650px;"
                            class="ag-theme-balham"
                            [rowData]="data"
                            [columnDefs]="columnDefs"
                            [defaultColDef]="defaultColDef"
                            [gridOptions]="gridOptions"
                            [floatingFilter]="true"
                            [pagination]="true"
                            (gridReady)="onGridReady($event)"
                            [paginationAutoPageSize]="true"
                            >
                        </ag-grid-angular>
                    </div>
                </div>
                <div class="widget-footer">
                    <div class="row">
                        <div class="col-lg-12 col-xs-12">
                            <div class="pull-right">
                                <button id="btn-go-back" type="button" class="btn btn-primary"
                                    (click)="onClickBackButton()">
                                    <span class="glyphicon glyphicon-chevron-left txt-gap"
                                        aria-hidden="true"></span>Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div *ngIf="showCreateAccount" create-account-popup [AccountId]="selAccountId" (reloadAccounts)="reloadAccounts($event)"></div>
    <div *ngIf="showEditAccount" edit-account-popup [model]="selAccount" (reloadAccounts)="reloadAccounts($event)"></div>
    <div *ngIf="showDeleteAccount" confirm-popup-ph [model]="selAccount" (callBack)="deleteAccount(selAccount.accountId)"
    (hideModal)="showDeleteAccount = false" [msg]="'Are you sure you want to delete Account '+ selAccount.name+' ?'"
    [title]="'Delete Account'" >
</div>
</div>