<div class="modal fade" id="edit-account" tabindex="-1" role="dialog" aria-labelledby="edit-account-title" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="h4 modal-title text-xs-left fw-bold mt" id="edit-account-title">Edit Account</h1>
			</div>
			<!--Modal Body-->
			<div class="modal-body">
				<form id="editaccountform" #editaccountform="ngForm" role="form" class="form-horizontal" data-parsley-priority-enabled="false" novalidate="novalidate"
					data-parsley-validate data-parsley-focus="first">
					<!-- Name -->
					<div class="form-group row">
						<div class="col-md-2"></div>
						<label for="name" class="col-md-2 form-control-label text-md-right">Name
							<span class="help-block">Required </span>
						</label>

						<div class="col-md-6 col-xs-12">
							<input type="text" class="form-control" id="name" [(ngModel)]="editAccount.name" [ngModelOptions]="{standalone: true}"
							required data-parsley-required-message="Error: Name is required" >
						</div>
						<div class="col-md-2"></div>
					</div>
					<!-- Industry -->
					<div class="form-group row">
						<div class="col-md-2"></div>
						<label for="client-industry" class="col-md-2 form-control-label text-md-right">Industry
							<span class="help-block">Required </span>
						</label>
						<div class="col-md-6 col-xs-12">
							<select required [(ngModel)]="editAccount.industryId" title="Industry" name="industry" class="form-control fdatable" id="client-industry"
							placeholder="Select Industry" (change)="OnIndustryChanged($event)"
							data-parsley-required-message="Error: Industry is required">
							<option></option>
							<option *ngFor="let ind of lstIndustries" [ngValue]="ind.industryId">{{ind.name}}</option>
						</select>
						</div>
						<div class="col-md-2"></div>
					</div>
					<!-- Sector -->
					<div class="form-group row">
						<label for="client-sector" class="col-md-4 form-control-label text-md-right">
							Sector
							<span class="help-block">Required </span>
						</label>
						<div class="col-md-6 col-xs-12">
							<select required [(ngModel)]="editAccount.sectorId" title="Sector" name="sector-name" class="form-control fdatable" id="client-sector"
								placeholder="Select Sector"
								data-parsley-required-message="Error: Sector is required">
								<option></option>
								<option *ngFor="let sec of lstSectors" [ngValue]="sec.sectorId">{{sec.sectorName}}</option>
							</select>
						</div>
					</div>
					<!--Active         -->
					<div class="form-group row">
						<div class="col-md-1"></div>
						<label for="enabled" class="col-md-3 form-control-label text-md-right">Active
						</label>
						<div class="col-md-6 col-xs-12">
							<input type="checkbox" class="form-control form-checkbox" id="enabled" [(ngModel)]="accountenabled"
							 [ngModelOptions]="{standalone: true}">
						</div>
						<div class="col-md-2"></div>
					</div>

				</form>
			</div>
			<div aria-live="assertive">
				<div role="alert" *ngIf="showErrorFlag" class="row">
					<div class="col-lg-12 col-xs-12">
						<div class="form-group row">
							<div class="col-md-12 col-xs-12">
								<alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'">
									<div [innerHTML]="alert.msg"></div>
								</alert>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Modal Footer-->
			<div class="modal-footer">
				<button type="button" id="btn-save" class="btn btn-primary" (click)="updateAccount(editAccount)">Save Account</button>
				<button type="button" class="btn btn-secondary" (click)="reset(false)">Cancel</button>
			</div>
		</div>
	</div>
</div>