<div class="container">
  <main id="content" class="widget-login-container" role="main">
    <div class="row">
      <div class="col-xl-4 col-md-6 col-xs-10 offset-xl-4 offset-md-3 offset-xs-1">
        <h1 class="widget-login-logo animated fadeInUp">
          <i class="fa fa-circle text-gray"></i>
          TRLM
          <i class="fa fa-circle text-warning"></i>
        </h1>
        <section class="widget widget-login animated fadeInUp">
          <div class="widget-body">
            <form class="form-signin" method="POST" action="#" role="form">
              <div class="form-group">
                <h2>Forgot Password</h2>
              </div>
              <div *ngIf="errorMessage!=null" class="alert alert-danger">
                {{ errorMessage }}
              </div>
              <div class="form-group">
                <label class="control-label" for="verificationCode">Verification Code</label>
                <input id="verificationCode" type="verificationCode" maxlength="50" class="form-control" [(ngModel)]="verificationCode"
                  [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group">
                <label class="control-label" for="newPassword">New Password</label>
                <input id="newPassword" type="password" maxlength="25" class="form-control" length="40" [(ngModel)]="password"
                  [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group">
                <button (click)="onNext()" id="signupSubmit" type="submit" class="btn btn-primary btn-block">
                  Reset Password
                </button>
              </div>

              <hr>
              <p><a [routerLink]="['/login/resendCode']"> <i class="fa fa-fw fa-group"></i> Go back</a>
              </p>
            </form>
          </div>
        </section>
      </div>
    </div>
  </main>
</div>
