<div class="container">
  <main id="content" class="widget-login-container" role="main">
    <div class="row">
      <div class="col-xl-4 col-md-6 col-xs-10 offset-xl-4 offset-md-3 offset-xs-1">
        <h1 class="widget-login-logo animated fadeInUp">
          <i class="fa fa-circle text-gray"></i>
          TRLM
          <i class="fa fa-circle text-warning"></i>
        </h1>
        <section class="widget widget-login animated fadeInUp">
          <div class="widget-body">
            <form class="form-signin" method="POST" action="#" role="form">
              <div class="form-group">
                <h2>Account Recovery</h2>
              </div>
              <div *ngIf="errorMessage!=null" class="alert alert-danger">
                {{ errorMessage }}
              </div>
              <div class="form-group">
                <label class="control-label" for="signupUsername">User name</label>
                <input id="signupUsername" type="text" maxlength="50" class="form-control" [(ngModel)]="username"
                  [ngModelOptions]="{standalone: true}">
              </div>
              <b>&nbsp;&nbsp;OR</b><br/><br/>
              <div class="form-group">
                <label class="control-label" for="emailAddress">Email Address</label>
                <input id="emailAddress" type="text" maxlength="50" class="form-control" [(ngModel)]="email"
                  [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group">
                <button (click)="onNext()" id="nextPage" type="submit" class="btn btn-primary btn-block">Next
                </button>
              </div>
              <hr>
              <div class="row mt25">
                <div class="col-lg-2 col-xs-2">
                </div>
                <div class="col-lg-5 col-xs-5">
                  <a [routerLink]="['/login/register']"> <i class="fa fa-fw fa-sign-in"></i> Register</a>
                </div>
                <div class="col-lg-4 col-xs-4">
                  <a [routerLink]="['/login']"> <i class="fa fa-fw fa-user"></i> Login</a>
                </div>
                <div class="col-lg-1 col-xs-1">
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>
  </main>
</div>
<div class="modal fade" id="app-popup">
	<div class="modal-dialog" role="app-popup">
		<div class="modal-content">
			<div class="modal-header modal-title-bar">
				<div title="title" class="h4 modal-title text-xs-center fw-bold mt" >{{title}}</div>
			</div>
			<!--Modal Body-->
			<div class="modal-body">
				<div [innerHTML]="msg"></div>
			</div>
			<!--Modal Footer-->
			<div class="modal-footer">
				<button type="button" class="btn btn-gray" (click)="onClose()" title="Close">Close</button>
			</div>
		</div>
	</div>
</div>

