<div class="modal fade" id="create-user" tabindex="-1" role="dialog" aria-labelledby="create-user-title" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="h4 modal-title text-xs-left fw-bold mt" id="create-user-title">Add User</h1>
			</div>
			<!--Modal Body-->
			<div class="modal-body">
				<form id="adduserform" #adduserform="ngForm" role="form" class="form-horizontal" data-parsley-priority-enabled="false" novalidate="novalidate"
					data-parsley-validate data-parsley-focus="first">
					<!-- Role -->
					<div class="form-group row">
						<div class="col-md-2"></div>
						<label for="user-roles" class="col-md-2 form-control-label text-md-right">Role
							<span class="help-block">Required </span>
						</label>

						<div class="col-md-6 col-xs-12">
							<select [(ngModel)]="user.role" name="userRoles" class="form-control fdatable" id="user-roles" required data-parsley-required-message="Error: Role is required">
								<option *ngFor="let role of userRoles" [value]="role.roleDescription">
									{{role.roleDescription}}
								</option>
							</select>
						</div>
						<div class="col-md-2"></div>
					</div>
					<!--First Name-->
					<div class="form-group row">
						<div class="col-md-1"></div>
						<label for="first-name" class="col-md-3 form-control-label text-md-right">First Name
							<span class="help-block">Required </span>
						</label>
						<div class="col-md-6 col-xs-12">
							<input type="text" class="form-control" id="first-name" [(ngModel)]="user.firstName" [ngModelOptions]="{standalone: true}"
							    required data-parsley-required-message="Error: First Name is required">
						</div>
						<div class="col-md-2"></div>
					</div>
					<!--Last Name-->
					<div class="form-group row">
						<div class="col-md-2"></div>
						<label for="last-name" class="col-md-2 form-control-label text-md-right">Last Name
							<span class="help-block">Required </span>
						</label>

						<div class="col-md-6 col-xs-12">
							<input type="text" class="form-control" id="last-name" [(ngModel)]="user.lastName" [ngModelOptions]="{standalone: true}"
							    required data-parsley-required-message="Error: Last Name is required">
						</div>
						<div class="col-md-2"></div>
					</div>
					<!--Email Address         -->
					<div class="form-group row">
						<div class="col-md-2"></div>
						<label for="email-address" class="col-md-2 form-control-label text-md-right">User ID
							<span class="help-block">Required </span>
						</label>

						<div class="col-md-6 col-xs-12">
							<input type="text" class="form-control" id="email-address" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}"
							    required data-parsley-error-message="Error: User ID is required">
						</div>
						<div class="col-md-2"></div>
					</div>
					<!--Password         -->
					<div class="form-group row">
						<div class="col-md-2"></div>
						<label for="password" class="col-md-2 form-control-label text-md-right">Password
							<span class="help-block">Required </span>
						</label>

						<div class="col-md-6 col-xs-12">
							<input type="password" class="form-control" id="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}"
							    required data-parsley-error-message="Error: Password is required">
						</div>
						<div class="col-md-2"></div>
					</div>
					<!--Employee ID         -->
					<div class="form-group row">
							<div class="col-md-2"></div>
							<label for="employeeid" class="col-md-2 form-control-label text-md-right">Employee ID
								<span class="help-block">Required </span>
							</label>
							<div class="col-md-6 col-xs-12">
								<input type="text" class="form-control" id="employeeid" [(ngModel)]="user.employeeId" [ngModelOptions]="{standalone: true}"
									required data-parsley-error-message="Error: Employee ID is required">
							</div>
							<div class="col-md-2"></div>
					</div>					
					<!--Enabled         -->
					<div class="form-group row">
						<div class="col-md-2"></div>
						<label for="enabled" class="col-md-2 form-control-label text-md-right">Enabled
						</label>
						<div class="col-md-6 col-xs-12">
							<input type="checkbox" class="form-control form-checkbox" id="enabled" [(ngModel)]="userenabled" [ngModelOptions]="{standalone: true}">						
						</div>
						<div class="col-md-2"></div>
					</div>					
				</form>
			</div>
			<div aria-live="assertive">
				<div role="alert" *ngIf="showErrorFlag" class="row">
					<div class="col-lg-12 col-xs-12">
						<div class="form-group row">
							<div class="col-md-12 col-xs-12">
								<alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'">
									<div [innerHTML]="alert.msg"></div>
								</alert>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Modal Footer-->
			<div class="modal-footer">
				<button type="button" id="btn-save" class="btn btn-primary" (click)="createUser(user)">Save User</button>
				<button type="button" class="btn btn-secondary" (click)="reset(false)">Cancel</button>
			</div>
		</div>
	</div>
</div>