<div class="container">
  <main id="content" class="widget-login-container" role="main">
    <div class="row">
      <div class="col-xl-4 col-md-6 col-xs-10 offset-xl-4 offset-md-3 offset-xs-1">
        <h1 class="widget-login-logo animated fadeInUp">
          <i class="fa fa-circle text-gray"></i>
          DCPricing
          <i class="fa fa-circle text-warning"></i>
        </h1>
        <section class="widget widget-login animated fadeInUp">
          <header>
            <h2 title="login title" class="h4 no-margin fw-bold">
              <i *ngIf="isProcessorMode()" class="fa fa-fw fa-lock"></i>
              <i *ngIf="!isProcessorMode()" class="fa fa-fw fa-user"></i>
                {{loginTitle}}
            </h2>
          </header>
          <div class="widget-body">
            <form class="login-form mt-lg" id="frm-login" role="form" data-parsley-priority-enabled="false" novalidate="novalidate"
            data-parsley-validate data-parsley-focus="first">
              <!-- <div class="form-group">
                <input type="text" class="form-control" id="uname" name="username" placeholder="username" aria-label="username"
                  [(ngModel)]="model.username"
                  required="required" data-parsley-required-message="Error: Username is required"
                  >
              </div> -->
              <!-- <div class="form-group">
                <input class="form-control" id="pwd" type="password" placeholder="password" name="password"
                  required [(ngModel)]="model.password"
                  required="required" data-parsley-required-message="Error: Password is required"
                  >
              </div> -->
              <div aria-live="assertive">
                <div role="alert" *ngIf="showErrorFlag" class="row">
                  <div class="offset-lg-1 col-lg-10">
                    <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'">
                      <div [innerHTML]="alert.msg"></div>
                    </alert>
                  </div>
                </div>
              </div>
              <div class="clearfix">
                <div class="btn-toolbar pull-xs-right m-t-1">
                  <button id="btn-login" type="submit" (click)="login()" class="btn btn-primary btn-block">Login</button>
                </div>
              </div>
            </form>
            <!-- <div class="row mt10">
                  <a class="mx-auto" [routerLink]="['/login/register']"> <i class="glyphicon glyphicon-edit txt-gap"></i>Signup</a>
            </div>
            <div class="row mt10">
                  <a class="mx-auto" [routerLink]="['/login/forgotPassword']"> <i class="fa fa-fw fa-key txt-gap"></i>Forgot Username/Password?</a>
            </div> -->
          </div>
        </section>
      </div>
    </div>
  </main>
  <footer class="page-footer">
    <div><span>{{currentYear}} &copy; Deloitte - DCloud Pricing Tool</span></div>
    <div><span>Build: 1.0.1 Published: September 23, 2019 - 07:50 AM EST</span></div>
  </footer>
</div>
