<div class="container">
  <main id="content" class="" role="main">
    <div class="row">
      <div class="col-xl-8 col-md-10 col-xs-12 offset-xl-2 offset-md-1 offset-xs-1">
        <h1 class="widget-login-logo animated fadeInUp">
          <i class="fa fa-circle text-gray"></i>
          TRLM
          <i class="fa fa-circle text-warning"></i>
        </h1>
        <section class="widget widget-login animated fadeInUp">
          <div class="widget-body">
            <div class="form-group">
              <h2>
                Create account
              </h2>
            </div>
            <div *ngIf="errorMessage!=null" class="alert alert-danger">
              {{ errorMessage }}
            </div>
            <div class="signup">
              <form id="frm-register" class="form-signin" method="POST" action="#" role="form" data-parsley-priority-enabled="false" novalidate="novalidate"
              data-parsley-validate data-parsley-focus="first">
              <div class="row">
                <p><strong>Note:</strong> Fields highlighted in yellow color are required fields</p>
              </div>
              <div class="row">
                <div class="col-md-6">
                    <p><strong>User Name Requirements:</strong></p>
                    <ul>
                    <li *ngIf="isProcessorMode()">At least 6 characters long</li>
                    <li *ngIf="!isProcessorMode()">At least 8 characters long</li>
                    <li>No spaces allowed</li>
                    </ul>
                </div>
                <div class="col-md-6">
                <p><strong>Password Requirements:</strong></p>
                <ul>
                    <li>At least 1 special character</li>
                    <li>At least 1 number</li>
                    <li>At least 1 capital letter</li>
                    <li>At least 8 characters long</li>
                </ul>
                </div>
              </div>
                <!-- ACCOUNT INFO -->

                <div class="form-group">
                  <b>Account Info</b>
                  <div class="row">
                    <div class="col-md-4">
                      <label class="control-label" for="userName">User name</label>
                      <input id="userName" tabindex="1" type="text" maxlength="50" class="form-control rq" [(ngModel)]="registrationUser.username"
                        [ngModelOptions]="{standalone: true}" title="Enter an user name you prefer to login with. No space allowed."
                        aria-label="Enter an user name you prefer to login with. No space allowed."
                        [attr.data-parsley-minlength]="isProcessorMode()?'6':'8'"
                        required="required" data-parsley-required-message="Error: User name is required"
                        data-parsley-pattern="^\S+$" data-parsley-pattern-message="No spaces allowed."
                        >
                    </div>
                    <div class="col-md-4">
                      <label class="control-label" for="signupPassword">Password</label>
                      <input id="signupPassword" tabindex="2" type="password" maxlength="25" class="form-control rq" placeholder=""
                        length="40" [(ngModel)]="registrationUser.password" [ngModelOptions]="{standalone: true}"
                        title="Password must contain at least 1 uppercase, 1 lowercase and 1 special character"
                        aria-label="Password must contain at least 1 uppercase, 1 lowercase and 1 special character"
                        data-parsley-minlength="8"
                        data-parsley-errors-container=".errorspannewpassinput"
                        data-parsley-uppercase="1"
                        data-parsley-lowercase="1"
                        data-parsley-number="1"
                        data-parsley-special="1"
                        data-parsley-required
                        required="required" data-parsley-required-message="Error: Password is required"
                        >
                        <span class="errorspannewpassinput"></span>
                    </div>
                    <div class="col-md-4">
                      <label class="control-label" for="confirmPassword">Confirm Password</label>
                      <input id="confirmPassword" tabindex="3" type="password" maxlength="25" class="form-control rq" placeholder=""
                        length="40" [(ngModel)]="registrationUser.confirmPassword" [ngModelOptions]="{standalone: true}"
                        title="Password must contain at least 1 uppercase, 1 lowercase and 1 special character"
                        data-parsley-equalto="#signupPassword" required="required" data-parsley-required-message="Error: Confirm Your Password"
                        >
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <label class="control-label" for="signupEmail">Email</label>
                      <input id="signupEmail" tabindex="4" type="email" maxlength="50" class="form-control rq"
                      title="Enter a valid email address" aria-label="Enter a valid email address"
                        [(ngModel)]="registrationUser.email" [ngModelOptions]="{standalone: true}" (change)="lowercaseEmail()"
                        required="required" data-parsley-required-message="Error: Email is required">
                    </div>
                    <div class="col-md-6">
                        <label class="control-label" for="confirmEmail">Confirm Email</label>
                        <input id="confirmEmail" tabindex="5" type="email" maxlength="50" class="form-control rq"
                        title="Retype your email address to confirm" aria-label="Retype your email address to confirm"
                          [(ngModel)]="registrationUser.confirmEmail" [ngModelOptions]="{standalone: true}" (change)="lowercaseEmail()"
                          data-parsley-equalto="#signupEmail" required="required"
                          data-parsley-required-message="Error: Confirm Your Email"
                          >
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <label class="control-label" for="establishnumber">Establishment ID</label>
                      <input id="establishnumber" tabindex="5" type="text" maxlength="50" class="form-control rq"
                      title="Enter a valid establishment number" aria-label="Enter a valid establishment number"
                        [(ngModel)]="registrationUser.estb_id" [ngModelOptions]="{standalone: true}"
                        required="required" data-parsley-required-message="Error: Establishment number is required">
                    </div>
                    <div class="col-md-6">
                    </div>
                  </div>
                </div>

                <!-- buttons -->
                <div class="form-group">
                  <button (click)="onRegister()" tabindex="20" id="signupSubmit" type="submit" class="btn btn-primary btn-block">
                    Create your account
                  </button>
                </div>
                <hr>
                <p>Already have an account? <a tabindex="21" [routerLink]="['/login']"> <i class="fa fa-fw fa-lock"></i>Login</a></p>
              </form>
            </div>
          </div>
        </section>
      </div>
    </div>
  </main>
</div>
