<ol class="breadcrumb">
    <li class="">
        <a [routerLink]='["/app/bom/search"]' id="dly-ops">View Applications</a>
    </li>
    <li class=" active">
        <a href="javascript:void(0)">Update Profile</a>
    </li>
</ol>
<h1 class="h4 page-title">Update Profile</h1>
<div class="SearchCriteriaController" data-ng-controller="SearchCriteriaController">
    <div aria-live="assertive">
        <div role="alert" *ngIf="showErrorFlag" class="row">
            <div class="col-lg-offset-1 col-lg-6 col-xs-12">
                <div class="form-group row">
                    <div class="col-md-12 col-xs-12">
                        <alert class="warning alert-sm">
                            <div [innerHTML]="errorMessage"></div>
                        </alert>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Edit widget-->
    <div class="row">
        <div class="col-lg-12">
            <section id="sec_appln_info" class="widget h-thin-divider" widget>
                <form #frmupdate="ngForm" id="frmupdate" data-parsley-priority-enabled="false" novalidate="novalidate"
                    data-parsley-validate data-parsley-focus="first">
                    <p><strong>Note:</strong> Fields highlighted in yellow color are required fields</p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="control-label" for="signupEmail">Email</label>
                                <input id="signupEmail" tabindex="15" type="email" maxlength="50" class="form-control rq"
                                    title="Enter a valid email address" aria-label="Enter a valid email address"
                                    [(ngModel)]="user.EMAIL_ADDRESS" [ngModelOptions]="{standalone: true}" (change)="lowercaseEmail()"
                                    required="required" data-parsley-required-message="Error: Email is required">
                            </div>
                            <div class="col-md-4">
                                <label class="control-label" for="confirmEmail">Confirm Email</label>
                                <input id="confirmEmail" tabindex="16" type="email" maxlength="50" class="form-control rq"
                                    title="Retype your email address to confirm" aria-label="Retype your email address to confirm"
                                    [(ngModel)]="emailConfirm" [ngModelOptions]="{standalone: true}" (change)="lowercaseEmail()"
                                    data-parsley-equalto="#signupEmail" required="required"
                                    data-parsley-required-message="Error: Confirm Your Email">
                            </div>
                            <div class="col-md-2 offset-md-2">
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                              <label class="control-label" for="establishment_id">Establishment ID</label>
                              <input id="establishment_id" tabindex="17" type="text" maxlength="50" class="form-control rq"
                                  title="Enter a valid Establishment ID" aria-label="Enter a valid Establishment ID"
                                  [(ngModel)]="user.ESTB_ID" [ngModelOptions]="{standalone: true}"
                                  required="required" data-parsley-required-message="Error: Establishment ID is required">
                          </div>
                          <div class="col-md-4">
                          </div>
                          <div class="col-md-2 offset-md-2">
                              <label for="updateSubmit">&nbsp;</label>
                              <button (click)="updateProfile()" tabindex="17" id="updateSubmit" type="submit" class="btn btn-primary btn-block">
                                  Update your account
                              </button>
                          </div>
                      </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
<div class="modal fade" id="app-popup">
	<div class="modal-dialog" role="app-popup">
		<div class="modal-content">
			<div class="modal-header modal-title-bar">
				<div title="title" class="h4 modal-title text-xs-center fw-bold mt" >{{title}}</div>
			</div>
			<!--Modal Body-->
			<div class="modal-body">
				<div [innerHTML]="msg"></div>
			</div>
			<!--Modal Footer-->
			<div class="modal-footer">
				<button type="button" class="btn btn-gray" (click)="onClose()" title="Close">Close</button>
			</div>
		</div>
	</div>
</div>
