.main-nav {
  display: flex;
  background-color: #fff;
  padding: 0;
  margin: 0;
  height:60px;
}

.main-nav li {
  list-style-type: none;
}

.main-nav li:first-child {
  margin-right: auto;
}

.main-nav a {
  color: #000;
  display: block;
  font-size: 16px;
  padding: 5px;
  text-decoration: none;
}

.main-nav a:hover {
  background-color: #CFD8DC;
}

.trlm_logo:hover{
  background-color: initial !important;
}
#announcement {
  margin: 0;
}
