<nav>
  <ul class="main-nav">
    <li class="ml25 mt10"><a class="trlm_logo" [routerLink]="['/']"><img src="./../assets/img/bannerlogo.png" style="height:24px" alt="Home"></a></li>
    <li *ngIf="isLoggedIn()" class="ml25 mt20">
      <form class="navbar-form d-none d-md-block mr-auto" role="search">
        <div class="form-group">
          <div class="input-group input-group-no-border">
            <input class="form-control" type="text" placeholder="Search Items">
            <span class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search"></i>
              </span>
            </span>
          </div>
        </div>
      </form>
    </li>
    <!-- <li class="mr25 mt20" *ngIf="(isMyProfileShown())"><a [routerLink]="['/app/forms/profile']"><i class="glyphicon glyphicon-cog txt-gap"></i>{{loggedUsername}}</a></li>
    <li class="mr25 mt20" *ngIf="!(isLoggedIn() )"><a [routerLink]="['/login']"><i class="fa fa-fw fa-sign-in txt-gap"></i>Login</a></li>
    <li class="mr25 mt20" *ngIf="(isLoggedIn())"><a (click)="onClickLogout()"><i class="glyphicon glyphicon-off txt-gap"></i>Logout</a></li>
    <li class="mr25 mt20" *ngIf="!(isLoggedIn() )"><a [routerLink]="['/login/register']"><i class="glyphicon glyphicon-edit txt-gap"></i>SignUp</a></li> -->
  </ul>
</nav>
<router-outlet></router-outlet>
<div class="modal fade" id="app-popup">
	<div class="modal-dialog" role="app-popup">
		<div class="modal-content">
			<div class="modal-header modal-title-bar">
				<div title="title" class="h4 modal-title text-xs-center fw-bold mt" >{{title}}</div>
			</div>
			<!--Modal Body-->
			<div class="modal-body">
				<div [innerHTML]="msg"></div>
			</div>
			<!--Modal Footer-->
			<div class="modal-footer">
				<button type="button" class="btn btn-gray" (click)="onClose()" title="Close">Close</button>
			</div>
		</div>
	</div>
</div>
