
@import "./../scss/helpers";

// CSS style from original document
.mdg-csp {
  background-color: #ffdfa2;
  padding: 2rem 0;
  color:#000
}

.mdg-hero .container,
.mdg-hero .container-fluid {
  width: 100%
}


.mdg-hero__ieWrapper {
  display: flex;
  flex-direction: column;
  width: 100%
}


.mdg-util-bg--secondary {
  color: #fff;
  border-color: #000
}

.mdg-util-bg--secondary a:not(.mdg-btn),
.mdg-util-bg--secondary h1,
.mdg-util-bg--secondary h2,
.mdg-util-bg--secondary h3,
.mdg-util-bg--secondary h4,
.mdg-util-bg--secondary h5,
.mdg-util-bg--secondary h6 {
  color: #fff
}


.mdg-util-bg--secondary {
  background-color: #1E1E1E
}

.mdg-util-bg--secondary--light {
  background-color: #565656
}

.mdg-util-bg--secondary--lighter {
  background-color: #8f8f8f
}

.mdg-util-bg--secondary--lightest {
  background-color: #c7c7c7
}

.mdg-util-bg--secondary--dark {
  background-color: #171717
}

.mdg-util-bg--secondary--darker {
  background-color: #0f0f0f
}

.mdg-util-bg--secondary--darkest {
  background-color: #080808
}

.mdg-util--dark .mdg-row__heading {
  border-bottom: 1px solid #fff
}

.mdg-row__heading--full,
.mdg-util--dark .mdg-row__heading--full {
  border: 0
}


.mdg-util--dark .mdg-dashboard__heading,
.mdg-util--dark .mdg-section__heading {
  border-bottom: 1px solid #fff
}

.mdg-util--dark .mdg-dashboard__heading:before,
.mdg-util--dark .mdg-section__heading:before {
  background-color: #fff
}


.mdg-util--dark .mdg-form .mdg-form__input,
.mdg-util--dark .mdg-form .mdg-form__select,
.mdg-util--dark .mdg-form .mdg-form__textarea {
  border-color: #fff
}

.mdg-util--dark .mdg-form .mdg-form__input.input-validation-error,
.mdg-util--dark .mdg-form .mdg-form__input[aria-invalid=true],
.mdg-util--dark .mdg-form .mdg-form__select.input-validation-error {
  border-bottom-color: #ff0 !important;
  box-shadow: 0 1px 0 0 #ff0 !important
}


.mdg-util--dark .mdg-form__field__message .field-validation-error {
  background-color: #ff0;
  color: #000
}

.mdg-util--dark .mdg-form__field__message .field-validation-error:after {
  border-bottom-color: #ff0
}

.mdg-util--dark .mdg-form__input {
  color: #fff
}

.mdg-util--dark .mdg-form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, .5)
}

.mdg-util--dark .mdg-form__input::-moz-placeholder {
  color: rgba(255, 255, 255, .5)
}

.mdg-util--dark .mdg-form__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, .5)
}

.mdg-util--dark .mdg-form__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, .5)
}

.mdg-util--dark .mdg-form__input:-moz-placeholder {
  color: rgba(255, 255, 255, .5)
}

.mdg-util--dark .mdg-form__input::placeholder {
  color: rgba(255, 255, 255, .5)
}

.mdg-util--dark .mdg-form__select {
  color: rgba(255, 255, 255, .5);
}
// background-image: url(data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%2232%22%20height%3D%2224%22%20viewBox%3D%220%200%2032%2024%22%3E%3Cpolygon%20points%3D%220%2C0%2032%2C0%2016%2C24%22%20style%3D%22fill%3A%20%23ffffff%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E)

.mdg-util--dark .mdg-form__select.active {
  color: #fff
}

.mdg-util--dark .mdg-listNav--grid li a {
  color: #fff
}

.mdg-util--dark .mdg-heading--alt {
  border-bottom: 1px solid #fff
}


.mdg-util--dark {
  color: #fff
}

.mdg-util--dark h1,
.mdg-util--dark h2,
.mdg-util--dark h3,
.mdg-util--dark h4,
.mdg-util--dark h5,
.mdg-util--dark h6 {
  color: inherit
}


.mdg-flipTile.hover .mdg-flipTile__front {
  transform: rotateY(180deg)
}


html.no-csstransitions .mdg-flipTile.hover .mdg-flipTile__front {
  visibility: hidden
}

.mdg-flipTile.hover .mdg-flipTile__back {
  transform: rotateY(0)
}

html.no-csstransitions .mdg-flipTile.hover .mdg-flipTile__back {
  visibility: visible;
  top: 0
}

html.no-csstransitions .mdg-flipTile {
  float: left;
  margin-right: 1.5rem
}

html.no-csstransitions .mdg-flipTile :last-child {
  margin-right: 0
}

.mdg-flipTile .mdg-flipTile__content {
  perspective: 1000px;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
  float: left
}

.mdg-flipTile .mdg-flipTile__back,
.mdg-flipTile .mdg-flipTile__front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all .3s ease-in;
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden
}

.mdg-flipTile .mdg-flipTile__front {
  position: relative
}

.mdg-flipTile .mdg-flipTile__back {
  transform: rotateY(-180deg)
}

html.no-csstransitions .mdg-flipTile .mdg-flipTile__back {
  visibility: hidden
}

.mdg-flipTile .mdg-flipTile__content {
  perspective: 1000px;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
  float: left
}

.mdg-flipTile.hover .mdg-flipTile__front {
  transform: rotateY(180deg)
}

html.no-csstransitions .mdg-flipTile.hover .mdg-flipTile__front {
  visibility: hidden
}

.mdg-flipTile .mdg-flipTile__back,
.mdg-flipTile .mdg-flipTile__front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all .3s ease-in;
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden
}

.mdg-flipTile .mdg-flipTile__front {
  position: relative
}


.mdg-flipTile.hover .mdg-flipTile__back {
  transform: rotateY(0)
}

html.no-csstransitions .mdg-flipTile.hover .mdg-flipTile__back {
  visibility: visible;
  top: 0
}

.mdg-flipTile .mdg-flipTile__back,
.mdg-flipTile .mdg-flipTile__front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all .3s ease-in;
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden
}

.mdg-flipTile .mdg-flipTile__back {
  transform: rotateY(-180deg)
}

html.no-csstransitions .mdg-flipTile .mdg-flipTile__back {
  visibility: hidden
}

.mdg-flipTile.hover .mdg-flipTile__back {
  transform: rotateY(0)
}

html.no-csstransitions .mdg-flipTile.hover .mdg-flipTile__back {
  visibility: visible;
  top: 0
}


.mdg-btn-group,
.mdg-gridNav__item,
.mdg-listNav--grid,
.mdg-table--fixed table {
  table-layout: fixed
}

.mdg-actionsHeader .mdg-listNav>li,
.mdg-actionsHeader .mdg-msgCenter__listNav>li,
.mdg-table__actionsHeader .mdg-listNav>li,
.mdg-table__actionsHeader .mdg-msgCenter__listNav>li {
  float: left
}

.mdg-actionsHeader .mdg-listNav>li ul li,
.mdg-actionsHeader .mdg-msgCenter__listNav>li ul li,
.mdg-table__actionsHeader .mdg-listNav>li ul li,
.mdg-table__actionsHeader .mdg-msgCenter__listNav>li ul li {
  display: block;
  width: 100%;
  border-right: 0
}

.mdg-listNav--grid li,
.mdg-listNav>li,
.mdg-listNav>li>ul>li,
.mdg-listNav__divider,
.mdg-msgCenter__listNav>li,
.mdg-msgCenter__listNav>li>ul>li {
  position: relative
}


.mdg-listNav,
.mdg-msgCenter__listNav {
  padding: 0;
  margin: 2rem 0;
  list-style: none
}

.mdg-listNav>li>ul,
.mdg-msgCenter__listNav>li>ul {
  padding: 0
}

.mdg-listNav li:last-child,
.mdg-listNav li:last-child>a,
.mdg-msgCenter__listNav li:last-child,
.mdg-msgCenter__listNav li:last-child>a {
  border-bottom: 0
}

.mdg-listNav .mdg-form,
.mdg-msgCenter__listNav .mdg-form {
  padding: .5rem
}

.mdg-listNav .mdg-form .fa,
.mdg-msgCenter__listNav .mdg-form .fa {
  margin-right: .5rem
}

.mdg-listNav .mdg-form__input,
.mdg-msgCenter__listNav .mdg-form__input {
  min-width: 200px;
  border: 1px solid #ccc;
  padding: .5rem .7rem;
  box-shadow: none
}

.mdg-listNav--horizontal>li {
  float: left
}

.mdg-listNav--horizontal>li:last-child {
  margin: 0
}

.mdg-listNav--block,
.mdg-msgCenter__listNav {
  display: table;
  width: 100%;
  padding: 0
}

.mdg-listNav--block li,
.mdg-msgCenter__listNav li {
  display: block;
  border-bottom: 1px solid #e8e8e8;
  line-height: 1.2em
}

.mdg-listNav--block li>a,
.mdg-msgCenter__listNav li>a {
  display: block;
  padding: 1rem;
  text-decoration: none
}

.mdg-listNav--block li>a.active,
.mdg-listNav--block li>a:focus,
.mdg-listNav--block li>a:hover,
.mdg-msgCenter__listNav li>a.active,
.mdg-msgCenter__listNav li>a:focus,
.mdg-msgCenter__listNav li>a:hover {
  text-decoration: none;
  background-color: #f4f4f4
}

.mdg-listNav--block li>a+ul li a,
.mdg-msgCenter__listNav li>a+ul li a {
  border: 0;
  padding-left: 2.2em;
  font-size: .85em
}

.mdg-listNav--grid {
  margin: 0;
  padding: 1rem 0;
  list-style: none;
  display: table;
  width: 100%;
  text-align: center
}

html.flexbox .mdg-listNav--grid {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start
}


.mdg-listNav--block,
.mdg-msgCenter__listNav {
  display: table;
  width: 100%;
  padding: 0
}

.mdg-listNav--block li,
.mdg-msgCenter__listNav li {
  display: block;
  border-bottom: 1px solid #e8e8e8;
  line-height: 1.2em
}

.mdg-listNav--block li>a,
.mdg-msgCenter__listNav li>a {
  display: block;
  padding: 1rem;
  text-decoration: none
}

.mdg-listNav--block li>a.active,
.mdg-listNav--block li>a:focus,
.mdg-listNav--block li>a:hover,
.mdg-msgCenter__listNav li>a.active,
.mdg-msgCenter__listNav li>a:focus,
.mdg-msgCenter__listNav li>a:hover {
  text-decoration: none;
  background-color: #f4f4f4
}

.mdg-listNav--block li>a+ul li a,
.mdg-msgCenter__listNav li>a+ul li a {
  border: 0;
  padding-left: 2.2em;
  font-size: .85em
}


.mdg-util--noMargin {
  margin: 0 !important
}

////////////////////////////////////////////////

.mbe-wfexBanner img {
  max-width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: .5rem
}

.mbe-wfexBanner:focus img,
.mbe-wfexBanner:hover img {
  background-color: #fff
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden
}

.video-container embed,
.video-container iframe,
.video-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

#mbeInfo {
  padding-bottom: 1rem
}

#mbeInfo h3 {
  margin-top: 0
}

#mbeNotices .mdg-alert__icon,
#mbeNotices .mdg-alert__text {
  vertical-align: top
}

#mbeNotices .mdg-alert:last-child,
#mbeNotices .mdg-list,
#mbeNotices .mdg-list>li:last-child {
  margin-bottom: 0
}

.mbe-video {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  padding: 1rem;
  z-index: 5010;
  outline: 0
}

.mbe-video__wrap {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2002
}

#mbe-searchInput,
.mbe-search {
  display: table
}

.mbe-video h2 {
  z-index: 2;
  position: relative;
  padding-right: 4rem;
  font-family: Lobster, cursive;
  font-size: 4rem;
  top: 0;
  line-height: 1;
  margin: 0;
  color: #c8122c
}

.mbe-video h2+p {
  position: relative;
  margin-top: .5rem;
  margin-bottom: 1rem
}
.banner-text{
  font-size: 3.5em;
  margin-top: 80px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    3px 3px 2px #000;
}

.mbe-video__embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0
}

.mbe-video__embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.mbe-video__backdrop {
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .9)
}

.mbe-video__close {
  position: relative;
  background-color: transparent;
  color: #000;
  border: 0;
  font-size: 3rem;
  padding: 0;
  float: right;
  z-index: 3;
  line-height: 1;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s
}

.mbe-video__close:focus,
.mbe-video__close:hover {
  color: #999
}

[data-page-id=search] .mdg-appContent {
  overflow: initial
}

.mbe-search {
  width: 100%
}

.mbe-search__input {
  display: table-cell;
  width: 100%
}

.mbe-search__input input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 7px;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-right: 0;
  line-height: 1.4;
  font-size: 16px
}

.mbe-search__button {
  display: table-cell;
  vertical-align: top
}

.mbe-search__button button {
  margin: 0;
  padding-top: 7px;
  padding-bottom: 7px
}

#mdg-BACKGROUND,
[data-page-type=content] #mdg-BACKGROUND {
  background-color: #1e1e1e
}

[data-page-id=resources] .mdg-section {
  padding-top: 1px;
  padding-bottom: 1px
}

[href="#top"] {
  max-width: 200px;
  margin: 0 auto
}

.mdg-breadcrumbs__list a i.fa {
  margin: 0
}

[data-page-type=article] #mbe-Hero,
[data-page-type=category] #mbe-Hero,
[data-page-type=content] #mbe-Hero {
  min-height: 0;
  padding-bottom: 0
}

.container,
.container-fluid {
  padding-top: 1px;
  padding-bottom: 1px
}

.mdg-entNav__logo {
  margin: 0 0 0 1rem;
  padding: 10px 0;
  height: 100%
}

.mdg-entNav__logo img {
  height: 100%
}

.mbe-homeWrap {
  min-height: calc(100vh - 50px);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly
}

.mbe-brand {
  position: relative;
  left: 0;
  padding: 2rem 0;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
  -ms-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;
  -webkit-backface-visibility: hidden
}

.mbe-checkListBtn,
.mbe-jumboHeading+p {
  margin-bottom: 3rem
}

.mbe-brand__logo img {
  width: 100%
}

.mbe-brand__tag {
  margin-top: 1rem;
  max-width: 60%
}

.mbe-brand__tag img {
  width: 100%
}


#mbe-Hero {
  // background-image: url(./../assets/img/banner.png);
  height:300px;
  // background-size: 100%
}

.mbe-step-1,
.mbe-step-2 {
  background-size: 100%;
  background-repeat: no-repeat
}

#mbe-Hero {
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
  -ms-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;
  text-align: center
}

.mdg-hero__panel {
  background-color: rgba(0, 0, 0, .5)
}

.mbe-jumboHeading {
  font-size: 3rem;
  letter-spacing: -2px;
  font-family: "Open Sans Bold";
  line-height: 1.1
}

.mdg-hero__panel .mbe-jumboHeading {
  text-align: center;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, .5)
}

.mbe-checkListBtn {
  margin-right: 0
}

.mbe-centeredContent {
  display: table;
  width: 100%
}

.mbe-centeredContent>* {
  display: table-cell;
  text-align: center;
  vertical-align: middle
}

#quickStart {
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 1rem
}

html.flexbox #quickStart,
html.flexboxtweener #quickStart {
  display: flex
}

#quickStart .mdg-flipTile {
  width: 100%;
  height: 35%;
  margin-top: 1rem;
  float: left
}

#quickStart .mdg-flipTile .mdg-listNav {
  text-align: left
}

#quickStart .mdg-flipTile .mdg-listNav li {
  border-bottom-color: rgba(255, 255, 255, .25)
}

#quickStart .mdg-flipTile .mdg-listNav li a {
  color: #fff;
  padding: .5rem 1rem
}

#quickStart .mdg-flipTile .mdg-listNav li a:focus,
#quickStart .mdg-flipTile .mdg-listNav li a:hover {
  background-color: rgba(255, 255, 255, .25)
}

#quickStart .mdg-flipTile__content>h2 {
  margin: 1rem;
  backface-visibility: hidden;
  font-size: 3rem
}

#quickStart .mdg-flipTile__back h2,
#quickStart .mdg-flipTile__front h2 {
  margin-top: 0;
  margin-bottom: 2rem;
  line-height: 1;
  text-transform: uppercase;
  color: inherit
}

#quickStart .mdg-flipTile__front {
  position: relative;
  top: 0;
  padding: 2rem;
  background-color: rgba(255, 255, 255, .1)
}

html.flexbox #quickStart .mdg-flipTile__front {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap
}

#quickStart .mdg-flipTile__front[href] {
  text-decoration: none
}

#quickStart .mdg-flipTile__front>div {
  width: 100%
}

#quickStart .mdg-flipTile__back {
  bottom: 0;
  top: auto;
  height: auto;
  padding: 1rem;
  background-color: #c8122c;
  box-shadow: 0 0 10px 0 #000
}

#quickStart .mdg-flipTile__back .mbe-tileHeading {
  background-color: #fff;
  margin: -1rem -1rem 1rem;
  padding: 2rem;
  color: #c8122c
}

.mbe-tileIcon {
  color: #eaab00;
  font-size: 14vw;
  margin-right: 1rem;
  margin-bottom: 1rem;
  float: left
}

.mbe-tileHeading {
  font-size: 8vw;
  margin-bottom: .5rem;
  font-family: 'Open Sans SemiBold', Arial, sans-serif
}

.mbe-tileSubText {
  font-size: .5em;
  display: block;
  text-transform: lowercase;
  font-family: 'Open Sans Italic', Arial, sans-serif
}

.mbe-tileCaption {
  font-style: italic;
  color: #666;
  margin-bottom: 0;
  clear: both
}

.mbe-sectionArrow a {
  display: block;
  padding: 2rem;
  text-align: center;
  font-size: 3rem;
  color: #fff
}

.mbe-sectionArrow a:focus,
.mbe-sectionArrow a:hover {
  color: #eaab00
}

.businessQuickLinks {
  background-color: #fff;
  padding-bottom: 1rem
}

.businessQuickLinks .mdg-tiles {
  flex-direction: column;
  justify-content: space-between
}

.businessQuickLinks .mdg-tiles .mdg-tile {
  margin-top: 0;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .5)
}

html.flexbox .businessQuickLinks .mdg-tiles .mdg-tile {
  justify-content: flex-start
}

.businessQuickLinks .mdg-tiles .mdg-tile[href] {
  display: block;
  text-decoration: none;
  color: #000
}

.businessQuickLinks .mdg-tiles .mdg-tile[href]:focus,
.businessQuickLinks .mdg-tiles .mdg-tile[href]:hover {
  background-color: #c8122c
}

.businessQuickLinks .mdg-tiles .mdg-tile[href]:focus *,
.businessQuickLinks .mdg-tiles .mdg-tile[href]:hover * {
  color: #fff
}

.businessQuickLinks .mdg-tiles .mdg-tile__heading {
  text-transform: capitalize
}

.businessQuickLinks .mdg-tiles .mdg-tile__content {
  text-align: left
}

.mbe-stepHeading {
  font-size: 2rem;
  font-family: 'Open Sans Bold';
  line-height: 1
}

.mbe-stepHeading a {
  text-decoration: none;
  color: inherit;
  display: block
}

.mbe-stepHeading a:focus {
  opacity: .5
}

.mbe-stepCount {
  display: block;
  margin-bottom: 1rem;
  font-size: 10rem
}

.mbe-contentRow {
  width: 100%;
  overflow: auto;
  padding: 1rem
}

.mbe-contentRow .mdg-btn--jumbo {
  margin-bottom: 2rem
}

.mbe-step-dark,
.mbe-step-dark .mbe-stepCount,
.mbe-step-dark .mbe-stepHeading {
  color: #fff
}

.mbe-step-light {
  color: #000
}

.mbe-step-light .mbe-stepCount {
  color: #c8122c
}

// background-image: url(../../img/market-research.jpg);
.mbe-step-1 {
  background-color: #fff;
  background-position: 35vw -25vw
}

// background-image: url(../../img/write-business-plan.jpg);
.mbe-step-2 {
  background-color: #c8122c;
  background-position: top center
}

.mbe-step-2-content {
  background-color: #990e22;
  padding: 0 2rem;
  margin-top: 45vw
}

// background-image: url(../../img/piggy-bank.jpg);

.mbe-step-3 {
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: 90% 2rem;
  background-size: 40vw
}

.mbe-step-3-content {
  padding: 0 2rem
}

// background-image: url(../../img/location.jpg);
.mbe-step-4 {
  background-color: #028ab9;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%
}

.mbe-step-4-content {
  background-color: #02b0ec;
  padding: 0 2rem;
  margin-top: 45vw
}

// background-image: url(../../img/structure.jpg);
.mbe-step-5 {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 150% 0;
  background-size: contain
}

// background-image: url(../../img/choose-name.jpg);
.mbe-step-6 {
  background-color: #174a4c;
  background-repeat: no-repeat;
  background-position: 1rem 1rem;
  background-size: calc(100% - 2rem)
}

.mbe-step-6-content {
  background-color: #3d878a;
  padding: 0 2rem;
  margin-top: 50vw
}

.mbe-step-7,
.mbe-step-8 {
  background-color: #fff;
  background-repeat: no-repeat
}

// background-image: url(../../img/permit-approved.jpg);
.mbe-step-7 {
  background-position: 50% 2rem;
  background-size: 60%
}

.mbe-step-7-content {
  padding: 0 2rem;
  margin-top: 45vw
}

// background-image: url(../../img/register.jpg);
.mbe-step-8 {
  background-position: 0 -13vw;
  background-size: 100%
}

.mbe-step-8-content {
  background-color: #000;
  padding: 0 2rem;
  margin-top: 30vw
}

.mdg-tiles .mdg-tile {
  text-align: center
}

[data-page-id=resources] .mdg-tiles .mdg-tile {
  text-align: left
}

.mdg-gridNav>li a {
  padding: 1rem;
  background-color: #f4f4f4;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .5)
}

.mdg-gridNav>li a:focus,
.mdg-gridNav>li a:hover {
  background-color: #c8122c;
  color: #fff
}

.mdg-gridNav>li a:focus *,
.mdg-gridNav>li a:hover * {
  color: #fff !important
}

.mdg-gridNav__icon {
  color: #c8122c
}

#mbe-leftColumn a,
.mdg-gridNav__description {
  color: #666
}

#mbe-leftColumn {
  padding-top: 1rem
}

#mbe-leftColumn ul {
  border-right: 4px solid #ffde84
}

#mbe-leftColumn a.active:after {
  z-index: 50;
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -1rem;
  border-top: 1rem transparent solid;
  border-bottom: 1rem transparent solid;
  border-right: 1rem #eaab00 solid
}

#mbe-leftColumn .mdg-listNav--block li>a.active {
  text-decoration: none;
  background-color: #c8122c;
  color: #fff
}

.mbe-articlePaging .mdg-btn {
  white-space: normal;
  margin-bottom: 1rem
}

.mbe-articlePaging h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Open Sans SemiBold", Helvetica, Arial, sans-serif
}

.mbe-contactsTable td,
.mbe-contactsTable th {
  vertical-align: middle !important
}

.mbe-contactsTable td {
  white-space: nowrap
}

.mbe-contactsTable .svg-inline--fa {
  margin-right: .5rem
}

.mbe-agencyAttrib {
  margin-bottom: 1rem
}

.mdg-caps__bottom {
  line-height: 1.2
}

.mdg-tile__image img {
  max-width: 100%
}

.mbe-resourceImage {
  max-width: 100%;
  background-color: #fff;
  margin-bottom: 1rem;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .25)
}

.mbe-headingLink {
  text-decoration: none !important
}

#mbeStartMaryChat {
  margin-right: 0
}

// .mdg-maryChatInfo {
//   background-image: url(../../img/comments.svg);
//   background-repeat: no-repeat;
//   background-position: top left;
//   background-size: contain
// }

#mdg-FOOTER__middle {
  padding-bottom: 5rem;
  background: #b62a30;
}

.gs-spelling a {
  color: #c8122c !important
}

.mbe-pageSearchInput {
  margin-bottom: 2rem
}

.gsc-results {
  width: 100% !important
}

.gsc-promotion:before {
  content: '';
  float: left;
  font-family: FontAwesome;
  margin-right: 1em;
  color: #c8122c
}

.promoted-star {
  color: #c8122c
}

.gsc-webResult.gsc-result.gsc-promotion {
  border-color: transparent !important;
  background-color: #f1f1f1 !important;
  padding: 1rem !important
}

.cse .gsc-control-cse,
.gsc-control-cse {
  padding: 0 !important
}

.gsc-results .gsc-cursor {
  display: block !important;
  font-size: 16px;
  text-align: center;
  margin: 2rem 0
}

.gsc-control-cse,
.gsc-control-cse .gsc-table-result {
  font-size: 16px !important
}

.gs-per-result-labels {
  display: none !important
}

.mdg-actionsHeader__btn {
  border-top: 5px solid transparent
}

.mdg-actionsHeader__btn.active {
  background-color: #f4f4f4;
  border-top: 5px solid #c8122c
}

@media(max-width:543px) {
  .mbe-articlePaging {
    display: flex;
    flex-direction: column-reverse
  }
}

@media(max-width:767px) {
  #chatbot__container {
    z-index: 1 !important
  }

  .chatbot__window {
    height: 75vh !important
  }
}

@media(min-width:768px) {
  #mbeInfo {
    padding-bottom: 2rem
  }

  .mbe-pageSearchInput {
    width: 50%
  }

  .mbe-video {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 750px;
    height: 548px;
    padding: 1rem;
    margin-top: -274px;
    margin-left: -375px;
    background-color: #fff;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .25)
  }

  .mbe-video h2 {
    left: 0
  }

  .mbe-video__close {
    right: 0
  }

  .mbe-video__backdrop {
    background-color: rgba(255, 255, 255, .75)
  }

  #mdg-FOOTER__middle {
    padding-bottom: 6rem
  }

  .footer-text{
    color: #fff !important;
    margin: 10px 0 40px 0;
  }

  .mbe-brand {
    float: left
  }

  // RB [data-page-id=home] .mbe-brand {
  .mbe-brand {
    opacity: 0
  }

  // [data-page-id=home].mdg-js-ready .mbe-brand {
  .mdg-js-ready .mbe-brand {
    opacity: 1
  }

  #mbe-Hero {
    background-position: 0vw, 0, bottom right
  }

  // RB [data-page-id=home].mdg-js-ready #mbe-Hero {
  .mdg-js-ready #mbe-Hero {
    background-position: 0vw, -20vw, bottom right
  }

  .mbe-resourceImage {
    margin-bottom: 0
  }

  .mbe-articlePaging__next h3,
  .mbe-articlePaging__prev h3 {
    margin-bottom: .5rem;
    color: #c8122c
  }

  .mbe-articlePaging .mdg-btn {
    background-color: transparent;
    color: #666;
    border-top: 1px solid #666;
    text-align: left;
    padding-left: 0;
    margin-bottom: 2rem
  }

  .mbe-articlePaging .mdg-btn:focus,
  .mbe-articlePaging .mdg-btn:hover {
    background-color: transparent !important;
    color: #000 !important
  }

  #mbe-leftColumn {
    padding-top: 2.5rem
  }

  .mbe-jumboHeading {
    font-size: 3.2rem
  }

  .mdg-hero__panel .mbe-jumboHeading {
    text-align: left
  }

  .mbe-stepHeading {
    font-size: 3rem
  }

  .container-fluid {
    padding-left: 2rem;
    padding-right: 2rem
  }

  #quickStart {
    flex-direction: row
  }

  #quickStart .mdg-flipTile {
    margin-top: 2rem;
    max-width: calc(50% - 1rem);
    min-width: calc(50% - 1rem)
  }

  #quickStart .mdg-flipTile__content {
    text-align: center
  }

  #quickStart .mdg-flipTile__back {
    min-height: 100%
  }

  .mbe-tileIcon {
    font-size: 6rem;
    float: none;
    margin-right: 0
  }

  .mbe-tileHeading {
    font-size: 1.9rem
  }

  .businessQuickLinks {
    padding-bottom: 3rem
  }

  .mbe-contentRow,
  .mdg-gridNav>li a {
    padding: 2rem
  }

  .businessQuickLinks .mdg-tiles {
    flex-direction: row
  }

  .businessQuickLinks .mdg-tiles .mdg-tile {
    max-width: calc(33.333% - 1.5rem);
    min-width: calc(33.333% - 1.5rem)
  }

  [data-page-id=resources] .businessQuickLinks .mdg-tiles .mdg-tile {
    max-width: calc(50% - 1rem);
    min-width: calc(50% - 1rem)
  }

  html.no-flexbox:not(.flexboxtweener) .businessQuickLinks .mdg-tiles .mdg-tile {
    float: left;
    margin-right: 2rem
  }

  .businessQuickLinks .mdg-tiles .mdg-tile:last-child {
    margin-right: 0
  }

  .mbe-step-5 {
    background-position: 100% 0
  }

  .mbe-step-6 {
    background-size: 75%
  }

  .mbe-step-6-content {
    margin-top: 2rem
  }

  .mbe-step-7 {
    background-position: 85% 2rem;
    background-size: 25%
  }

  .mbe-step-7-content {
    margin-top: 0
  }

  [data-page-id=start] .mdg-gridNav>li {
    flex: 100%;
    margin-right: 0;
    float: none;
    width: 100%
  }

  .mbe-contactsTable {
    table-layout: fixed
  }

  .mbe-contactsTable th {
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis
  }

  .mbe-contactsTable td {
    width: 25%;
    overflow: hidden;
    text-overflow: ellipsis
  }

  .mbe-agencyAttrib {
    margin-bottom: 2rem
  }
}

@media(min-width:992px) {
  #mbeInfo .mdg-card {
    margin: 0
  }

  // background-image: url(../../img/backdrop-symbols-angle-right.png);
  [data-page-type=article] .mdg-appContent,
  [data-page-type=category] .mdg-appContent {
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 20vw auto;
    background-attachment: fixed
  }

  .mbe-step-2,
  .mbe-step-4 {
    background-position: 0 40%
  }

  .mbe-checkListBtn {
    max-width: 450px;
    margin: 7rem auto
  }

  .mbe-step-2 {
    background-color: #fff
  }

  .mbe-step-2-content {
    margin-top: 0;
    background-color: #c8122c
  }

  .mbe-step-4-content,
  .mbe-step-6-content,
  .mbe-step-8-content {
    margin-top: 0
  }
}

@media(min-width:1200px) {
  // RB [data-page-id=home] .mbe-brand {
  .mbe-brand {
    left: 96px;
    max-width: 400px
  }

  #mbe-Hero {
    height: 300px;
  }

  // RB [data-page-id=home] #mbe-Hero {
  #mbe-Hero {
    text-align: center;
    // min-height: 75vh
  }

  // RB [data-page-id=home].mdg-js-ready #mbe-Hero {
  .mdg-js-ready #mbe-Hero {
    min-height: 40vh;
    background-position: 0vw, -20vw, bottom right
  }

  #quickStart .mdg-flipTile,
  .businessQuickLinks .mdg-tiles .mdg-tile {
    max-width: calc(25% - 1.5rem);
    min-width: calc(25% - 1.5rem)
  }

  .mbe-step-5 {
    background-position: 80% 0
  }

  .mbe-step-6 {
    background-size: 60%
  }

  .mbe-step-7 {
    background-position: 85% 50%
  }
}

.mbe-tileContent {
  text-align: center
}

#mdg-FOOTER__bottom *,
#mdg-FOOTER__middle * {
  color: #fff;
  color: rgba(255, 255, 255, .5)
}

#mdg-FOOTER__bottom a:focus,
#mdg-FOOTER__bottom a:hover,
#mdg-FOOTER__middle a:focus,
#mdg-FOOTER__middle a:hover {
  color: #fff
}

#mdg-FOOTER__middle {
  padding: 1rem 1rem 0
}

#mdg-FOOTER__bottom {
  border-top: 1px solid rgba(255, 255, 255, .15);
  padding: 1rem 1rem 6rem
}

@media (min-width:768px) {
  #mdg-OUTERWRAP {
    padding-top: 60px
  }

  #mdg-FOOTER__middle {
    padding: 2rem 2rem 0
  }

  #mdg-FOOTER__bottom {
    padding: 2rem 2rem 7rem
  }
}

#mdg-FOOTER__copyright {
  margin-top: 0
}

#mdg-FOOTER__nav {
  width: 100%;
  padding: 0;
  margin-top: 0;
  margin-bottom: 2rem;
  list-style: none
}

.application-heading-sub {
  font-size: .5em;
  display: block;
  text-transform: lowercase;
  font-family: 'Open Sans Italic',Arial,sans-serif;
}

.application-content, .application-content:hover {
  color: white;
  background: #00000000;
}
.application-content-nohover{
  color: white;
}


.application-heading {
  background-color: #fff !important;
  margin: -1rem -1rem 1rem;
  padding: 2rem;
  color: #c8122c !important;
  line-height: 1.2;
  font-weight: 600;
}

.row-img-container img {
  width: 142px;
  height: auto;
  max-width: 100%;
  margin-bottom: 1rem;
}

.application-heading, .application-content {
  text-decoration: none;
}

.applications-container {
  padding: 1rem;
  // background-color: #1E1E1E;
}

.d-flex:hover {
  text-decoration: none !important;
}

.card-list-item {
  // width: 312px;
  // flex-grow: 9999;
  // flex-basis: 25%;
}

.card-list-item div {
  // width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
}

.info-card {
  float: left;
  margin: 10px;
  -webkit-perspective: 600px;
  perspective: 600px;
  width: 100%;
}

.front, .back {
  background: #FFF;
  // border-radius: 10px;
  transition: -webkit-transform 0.5s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid black;
}

.front {
  overflow: hidden;
  width: 100%;
  position: absolute;
  z-index: 1;
  background: #333333;
  min-height: 290px;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  padding-top: 30px;
}

.front img {
  width: 50%;
}

.front p {
  color: #ffc879;
}

.back {
  padding: 20px;
  padding-top: 0px;
  width: 100%;
  height: 420px;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  overflow: scroll;
  min-height: 420px;
  top: auto;
  height: auto;
  padding: 0rem;
  background-color: #c8122c;
  box-shadow: 0 0 10px 0 #000;
  margin-top: -420px;
  overflow: visible;
  // bottom: -461px;
  position: relative;
}

.back h2 {
  margin: 0 0 20px 0;
  // border-radius: 10px 10px 0 0;
}

.back .container .application-content:hover {
  background-color: rgba(255,255,255,.25);
}
.application-content a{
  text-decoration: underline;
}
.info-card:hover .back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

.info-card:hover .front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card-image {
  width: 100%;
  height: 100%;
}

home.home-page.app {
  height: auto;
}

.btn-survey {
  background: #b62a30;
  border-radius: initial;
  padding: 5px 80px;
  margin-top: 35px;
}
.icon-go-bottom{
  max-width: 50px;
}

.banner-img {
  // background-image: url("../assets/img/banner3.png");
  background-size: cover;
  background-repeat: no-repeat;
  // background-position: 0 -100px;
}

.go-bottom{
  background-color: #333333;
}
