<div class="">
  <main id="mdg-MAIN" role="main" class="mdg-row mdg-util-bg--secondary mdg-util--dark">
    <div class="mdg-row mdg-util-bg--secondary mdg-util--dark banner-img">
      <div class="mdg-hero__ieWrapper">
        <section id="mbe-Hero" class="mdg-hero mdg-util--dark" role="banner">
          <h1 class="banner-text">Maryland Department of Assessments and Taxation<br>Residential Tax Credit</h1>
          <div class="container-fluid" style="padding-top:60px;">
            <div class="mbe-brand">
              <div class="mbe-brand__logo">
                <a href="/">
                </a>
              </div>
              <div class="mbe-brand__tag">
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="row mx-auto">
        <div class="col-md-12 col-lg-12">
          <div class="applications-container" style="color: #c8122c; ">
            <div class="d-flex justify-content-between flex-wrap bd-highlight">
              <div class="card-list-item col-lg-3 col-md-6 col-xs-12">
                <div class="info-card">
                  <div class="front">
                    <a href="/plan" class="" tabindex="-1">
                      <img src="./../assets/img/home_1_HTC.png" alt="Customer Service Promise" class="img-fluid">
                      <h2>Homeowners</h2>
                      <p>Annual Application for Homeowners</p>
                    </a>
                  </div>
                  <div class="back">
                    <a [routerLink]="['/app/forms/tplcreate']">
                      <h2 class="application-heading d-flex flex-column align-items-center" style="text-transform: none !important">Homeowners
                        <span style="text-transform: none !important" class="application-heading-sub">Annual Application</span>
                      </h2>
                    </a>
                    <ul class="container">
                      <li class="row p-sm-3 m-sm-0">
                        <span class="application-content-nohover">The Homeowners’ Property Tax Credit Program sets a
                          limit on
                          the amount of property taxes an eligible homeowner must pay, based upon his or her gross
                          income level and net worth.</span></li>
                      <li class="row p-sm-3 m-sm-0 application-content">
                        <span class="">To Start a New Application for the Maryland Homeowners' Tax Credit, <a [routerLink]="['/app/forms/tplcreate']"><b>Click Here</b></a>.
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card-list-item col-lg-3 col-md-6 col-xs-12">
                <div class="info-card">
                  <div class="front">
                    <a [routerLink]="['/app/forms/create']" class="" tabindex="-1">
                      <img src="./../assets/img/home_2_rent.png" alt="Customer Service Promise" class="img-fluid">
                      <h2>Renters</h2>
                      <p>Annual Application for Renters</p>
                    </a>
                  </div>
                  <div class="back">
                    <a [routerLink]="['/app/forms/create']">
                      <h2 class="application-heading d-flex flex-column align-items-center" style="text-transform: none !important">Renters
                        <span style="text-transform: none !important" class="application-heading-sub">Annual Application</span>
                      </h2>
                    </a>
                    <ul class="container">
                      <li class="row p-sm-3 m-sm-0"><span class="application-content-nohover">The Renters’ Tax Credit
                          Program
                          provides tax relief to eligible renters in the State of Maryland who pay a high monthly rent,
                          in relation to their total income and net worth.</span></li>
                      <li class="row p-sm-3 m-sm-0 application-content">
                        <span class="">
                          To Start a New Application for the Maryland Renters' Tax Credit, <a [routerLink]="['/app/forms/create']"><b>Click Here</b></a>.
                        </span></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card-list-item col-lg-3 col-md-6 col-xs-12">
                <div class="info-card">
                  <div class="front">
                    <a href="https://dat.maryland.gov/realproperty/Pages/Maryland-Homestead-Tax-Credit.aspx" target="_blank" class="" tabindex="-1">
                      <img src="./../assets/img/home_3_HMST.png" alt="Customer Service Promise" class="img-fluid">
                      <h2>Homestead</h2>
                      <p>One-Time Application for Homeowners</p>
                    </a>
                  </div>
                  <div class="back">
                    <a href="https://dat.maryland.gov/realproperty/Pages/Maryland-Homestead-Tax-Credit.aspx" target="_blank">
                      <h2 class="application-heading d-flex flex-column align-items-center" style="text-transform: none !important">Homestead
                        <span style="text-transform: none !important" class="application-heading-sub">One-Time Application</span>
                      </h2>
                    </a>
                    <ul class="container">
                      <li class="row p-sm-3 m-sm-0 application-content"><span>The new online Homestead Tax
                          Credit application system is coming soon, but <a href="https://dat.maryland.gov/realproperty/Pages/Maryland-Homestead-Tax-Credit.aspx" target="_blank"><b>Click Here</b></a>
                          to learn more about the credit, eligibility requirements and the existing application
                          process.</span></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card-list-item col-lg-3 col-md-6 col-xs-12">
                <div class="info-card">
                  <div class="front">
                    <a href="./../assets/document/Local County Contacts - Tax Credits.pdf" class="" tabindex="-1" target="_blank">
                      <img src="./../assets/img/home_4_TC.png" alt="Customer Service Promise" class="img-fluid">
                      <h2>Local Tax Credits</h2>
                      <p>&nbsp;</p>
                    </a>
                  </div>
                  <div class="back">
                    <a href="./../assets/document/Local County Contacts - Tax Credits.pdf" target="_blank">
                      <h2 class="application-heading d-flex flex-column align-items-center" style="text-transform: none !important">Local
                        Tax Credits
                      </h2>
                    </a>
                    <ul class="container">
                      <li class="row p-sm-3 m-sm-0"><span class="application-content-nohover">Many counties and
                          municipalities
                          offer additional residential tax credits to assist eligible homeowners and renters in
                          Maryland.</span></li>
                      <li class="row p-sm-3 m-sm-0 application-content"><span>To find contact information for
                          your local Tax Credit resources <a href="./../assets/document/Local County Contacts - Tax Credits.pdf" target="_blank"><b>Click Here</b></a></span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center go-bottom">
          <a href="#mdg-FOOTER__middle"><img class="icon-go-bottom" src="../assets/img/Arrow-down-icon.png" alt="Go to bottom"></a>
        </div>
      </div>
    </div>
    <div class="row mdg-csp">
      <div class="col-lg-3 col-md-3">
        <img src="https://egov.maryland.gov/common/nate/v2/img/changingMD-400x400.png" style="height:100px;width:100px; float:right"
          alt="Customer Service Promise">
      </div>
      <div class="col-lg-6 col-md-6 ">
        <h2>Customer Service Promise</h2>
        <p><em>The State of Maryland pledges to provide constituents, businesses, customers, and stakeholders with
            friendly and courteous, timely and responsive, accurate and consistent, accessible and convenient, and
            truthful and transparent services.</em></p>
      </div>
      <div class="col-lg-3 col-md-3">
        <a class="btn btn-survey" href="http://www.doit.state.md.us/selectsurvey/TakeSurvey.aspx?agencycode=SDAT&SurveyID=86M2956#" role="button" target="_blank">TAKE OUR SURVEY</a>
      </div>
    </div>
    <div id="mdg-FOOTER__middle">
      <div class="container">
        <!-- <div class="row">
          <div class="col-12">
            <p class="text-center footer-text">*** By accessing this website, you are seeking access to an application
              containing confidential Internal Revenue Service ***<br>
              Income information. Unauthorized access is punishable by fines and/or imprisonment under both Federal and
              State law.</p>
          </div>
        </div> -->
        <div class="row">

          <div class="col-xl-4">
            <p id="mdg-FOOTER__copyright">© 2018 <a href="http://www.maryland.gov/" target="_blank">Maryland.gov</a>.
              All rights reserved.</p>
          </div>

          <div class="col-xl-8">
            <ul id="mdg-FOOTER__nav" class="nav nav-fill">
              <li class="nav-item"><a href="http://www.doit.state.md.us/selectsurvey/TakeSurvey.aspx?agencycode=SDAT&SurveyID=86M2956#" target="_blank">Leave Feedback</a></li>
              <li class="nav-item"><a href="https://dat.maryland.gov/Pages/Contact_us.aspx" target="_blank">Contact Us</a></li>
              <li class="nav-item"><a href="http://www.maryland.gov/pages/privacy_security.aspx" target="_blank">Privacy &amp; Security</a></li>
              <li class="nav-item"><a href="http://www.maryland.gov/pages/accessibility.aspx" target="_blank">Accessibility</a></li>
              <li class="nav-item"><a href="http://www.maryland.gov/pages/online_services.aspx" target="_blank">More Online Services</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </main>

</div>