<div class="modal fade" id="create-lookup" tabindex="-1" role="dialog" aria-labelledby="create-lookup-title"
 aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="h4 modal-title text-xs-left fw-bold mt" id="create-lookup-title">Add Lookup</h1>
			</div>
			<!--Modal Body-->
			<div class="modal-body">
				<form id="addlookupform" #addlookupform="ngForm" role="form" class="form-horizontal"
				 data-parsley-priority-enabled="false" novalidate="novalidate" data-parsley-validate data-parsley-focus="first">
					<!-- Name-->
					<div class="form-group row">
						<div class="col-md-1"></div>
						<label for="ref-code" class="col-md-3 form-control-label text-md-right">Code
							<span class="help-block">Required </span>
						</label>
						<div class="col-md-6 col-xs-12">
							<input type="text" class="form-control" id="ref-code" [(ngModel)]="lookup.refCode" [ngModelOptions]="{standalone: true}"
							 required maxlength="4" data-parsley-maxlength="4" data-parsley-required-message="Error: Code is required"
							 placeholder="Max 4 characters">
						</div>
						<div class="col-md-2"></div>
					</div>
					<!-- Description-->
					<div class="form-group row">
						<div class="col-md-1"></div>
						<label for="ref-val" class="col-md-3 form-control-label text-md-right">Description
							<span class="help-block">Required </span>
						</label>
						<div class="col-md-6 col-xs-12">
							<input type="text" class="form-control" id="ref-val" [(ngModel)]="lookup.refValue" [ngModelOptions]="{standalone: true}"
								required data-parsley-required-message="Error: Description is required">
						</div>
						<div class="col-md-2"></div>
          </div>
          <!-- Bronze-->
					<div class="form-group row">
						<div class="col-md-1"></div>
						<label for="ref-bronze" class="col-md-3 form-control-label text-md-right">Bronze
						</label>
						<div class="col-md-6 col-xs-12">
							<input type="checkbox" class="form-control form-checkbox" id="ref-bronze" [(ngModel)]="bronzeenabled" [ngModelOptions]="{standalone: true}"
              >
						</div>
						<div class="col-md-2"></div>
          </div>
					<!-- Silver-->
					<div class="form-group row">
						<div class="col-md-1"></div>
						<label for="ref-silver" class="col-md-3 form-control-label text-md-right">Silver
						</label>
						<div class="col-md-6 col-xs-12">
							<input type="checkbox" class="form-control form-checkbox" id="ref-silver" [(ngModel)]="silverenabled" [ngModelOptions]="{standalone: true}"
								>
						</div>
						<div class="col-md-2"></div>
          </div>
					<!-- Gold-->
					<div class="form-group row">
						<div class="col-md-1"></div>
						<label for="ref-val" class="col-md-3 form-control-label text-md-right">Gold
						</label>
						<div class="col-md-6 col-xs-12">
							<input type="checkbox" class="form-control form-checkbox" id="ref-val" [(ngModel)]="goldenabled" [ngModelOptions]="{standalone: true}"
								>
						</div>
						<div class="col-md-2"></div>
          </div>
					<!-- Platinum-->
					<div class="form-group row">
						<div class="col-md-1"></div>
						<label for="ref-val" class="col-md-3 form-control-label text-md-right">Description
						</label>
						<div class="col-md-6 col-xs-12">
							<input type="checkbox" class="form-control form-checkbox" id="ref-val" [(ngModel)]="platinumenabled" [ngModelOptions]="{standalone: true}"
								>
						</div>
						<div class="col-md-2"></div>
          </div>
				</form>
			</div>
			<div aria-live="assertive">
				<div role="alert" *ngIf="showErrorFlag" class="row">
					<div class="col-lg-12 col-xs-12">
						<div class="form-group row">
							<div class="col-md-12 col-xs-12">
								<alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'">
									<div [innerHTML]="alert.msg"></div>
								</alert>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Modal Footer-->
			<div class="modal-footer">
				<button type="button" id="btn-save" class="btn btn-primary" (click)="createLookup(lookup)">Save Lookup</button>
				<button type="button" class="btn btn-secondary" (click)="reset(false)">Cancel</button>
			</div>
		</div>
	</div>
</div>