<h1 class="h4 page-title hd-bdr">Lookups</h1>
<div data-ng-controller="lookupdashboardController" class="lookupdashboardController">
    <div aria-live="assertive">
        <div role="alert" *ngIf="showErrorFlag" class="row">
            <div class="col-lg-12 col-xs-12">
                <div class="form-group row">
                    <div class="col-md-12 col-xs-12">
                        <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'">
                            <div [innerHTML]="alert.msg"></div>
                        </alert>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="widget h-divider" widget>
                <div class="widget-body">
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="tdl-pop" class="col-md-6 form-control-label text-md-right mt10">
                                    Select Lookup Type:
                                </label>
                                <div role="alert" class="col-md-6 col-xs-12">
                                    <select required class="form-control" placeholder="" [(ngModel)]="selRefTypeId"
                                        [ngModelOptions]="{standalone: true}" (change)="onReferenceTypeChanged($event.target.value)"
                                        data-parsley-required-message="Error: Reference Type is required">
                                        <option *ngFor="let rt of refTypes" [value]="rt.referenceTypeId">{{rt.description}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-offset-1 col-md-4">
                        </div>
                        <div class="col-md-2">
                            <div class="pull-right">
                                <button id="btn-cr-lookup" type="button" class="btn btn-primary" data-toggle="modal"
                                    data-keyboard="false" data-backdrop="static" data-target="#create-lookup" title="Add Lookup"
                                    (click)="addLookup()">
                                    <i class="fa fa-plus txt-gap"></i>
                                    Add Lookup
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="grid-wrapper">
                        <ag-grid-angular
                            #agGrid
                            style="width: 100%; height: 650px;"
                            class="ag-theme-balham"
                            [rowData]="data"
                            [columnDefs]="columnDefs"
                            [defaultColDef]="defaultColDef"
                            [gridOptions]="gridOptions"
                            [floatingFilter]="true"
                            [pagination]="true"
                            (gridReady)="onGridReady($event)"
                            [paginationAutoPageSize]="true"
                            >
                        </ag-grid-angular>
                    </div>
                </div>
                <div class="widget-footer">
                    <div class="row">
                        <div class="col-lg-12 col-xs-12">
                            <div class="pull-right">
                                <button id="btn-go-back" type="button" class="btn btn-primary"
                                    (click)="onClickBackButton()">
                                    <span class="glyphicon glyphicon-chevron-left txt-gap"
                                        aria-hidden="true"></span>Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div *ngIf="showCreateLookup" create-lookup-popup [ReferTypeId]="selRefTypeId" (reloadLookups)="reloadLookups($event)"></div>
    <div *ngIf="showEditLookup" edit-lookup-popup [model]="selLookup" (reloadLookups)="reloadLookups($event)"></div>
</div>
