<div class="js-sidebar-content">
  <header class="logo d-none d-md-block">
    <a href="index.html">{{config.name}}</a>
  </header>
  <div class="sidebar-status d-md-none dropdown" dropdown [autoClose]="false" (isOpenChange)="toggleSidebarOverflow($event)" placement="bottom left">
    <a [routerLink]="" class="dropdown-toggle" dropdownToggle>
              <span class="thumb-sm avatar float-right">
        <img class="rounded-circle" src="assets/img/people/a5.jpg" alt="...">
              </span>
      <!-- .circle is a pretty cool way to add a bit of beauty to raw data.
           should be used with bg-* and text-* classes for colors -->
              <span class="circle bg-warning fw-bold text-gray-dark">
                  13
              </span>
      &nbsp;
      Philip <strong>Smith</strong>
      <b class="caret"></b>
    </a>
    <app-notifications *dropdownMenu class="dropdown-menu dropdown-menu-left animated animated-fast fadeInUp"></app-notifications>
  </div>
  <!-- main notification links are placed inside of .sidebar-nav -->
  <ul class="sidebar-nav">
		<!-- 2nd nav slot : Daily Ops -->
    <li>
				<a [routerLink]="['/app/bom/search', { q:'new'}]" id="daily_operations" title="Daily Operations" (click)="gotoSearchResource()">
					<span class="icon">
						<i class="fa fa-clipboard"></i>
					</span> View Applications
				</a>
    </li>
    <li>
      <a [routerLink]="['/app/forms/create']" id="create-rtc" title="Create RTC" (click)="gotoCreateRTCForm()">
        <span class="icon">
          <i class="fa fa-clipboard"></i>
        </span> Create RTC Form
      </a>
    </li>
    <li>
      <a  title="Admin" data-target="#sidebar-admin" data-toggle="collapse" data-parent="#sidebar" focusOut>
        <span class="icon">
          <i class="glyphicon glyphicon-off"></i>
          </span>Administration
      </a>
      <ul id="sidebar-admin" class="collapse">
          <li><a [routerLink]=" ['admin/users'] ">Users</a></li>
          <li><a [routerLink]=" ['attrib/list'] ">Attributes</a></li>
      </ul>
    </li>

		<!-- 4th nav slot : Logout -->
		<li>
				<a  [routerLink]="['./../login']" title="Logout" >
					<span class="icon">
						<i class="glyphicon glyphicon-user"></i>
					</span>Logout
				</a>
    </li>

    <li *ngIf="configFn.isScreen('xs') || configFn.isScreen('sm')">
      <a (click)="logout()">
        <span class="icon">
          <i class="fa fa-sign-out"></i>
        </span>
        Logout
      </a>
    </li>
  </ul>
</div>
