@import "../../../scss/variables";
@import "../../../../node_modules/bootstrap/scss/bootstrap-grid";
@import "../../../../node_modules/bootstrap/scss/_variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

.mt10{
  margin-top: 10px;
}

.breathe-left{
  margin-left: 10px;
}

.h-divider{
 width:100%;
 border-bottom:3px solid #778899;
}

.ApplicationDetailsPageController{width: 100%}

.noborder{
  border-color: #fff;
}

.txt-gap{
  margin-right: 5px;
}

.blue {
    color: blue;
}

mfDefaultSorter > a {

  &:hover {
    text-decoration: none;
  }
}

.pagination {
  display: inline-block;
  overflow-wrap: break-word;
  padding-left: 0;
  // margin-top: $spacer-y;
  // margin-bottom: $spacer-y;
  @include border-radius();

  > li {
    display: inline; // Remove list-style and block-level defaults

    &:first-child {
      a {
        margin-left: 0;
        @include border-left-radius($border-radius);
      }
    }
    &:last-child {
      a {
        @include border-right-radius($border-radius);
      }
    }

    &.active a {
      @include plain-hover-focus {
        z-index: 2;
        cursor: default;
        border-color: $pagination-active-border;
      }
    }

    &.disabled a {
      @include plain-hover-focus {
        cursor: $cursor-disabled;
        border-color: $pagination-disabled-border;
      }
    }
  }

  > li > a {
    position: relative;
    float: left; // Collapse white-space
    padding: $pagination-padding-y $pagination-padding-x;
    margin-left: -1px;
    line-height: $line-height-base;
    text-decoration: none;

    @include hover-focus {
      border-color: $pagination-hover-border;
    }
  }
}

/***********************************/
/**           Backgrid            **/
/***********************************/

.table-editable{

  th > a{
    color: $text-color;
    cursor: pointer;
  }

  .sort-caret {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 0.3em;
    border: 0;
    content: "";
    font: 15px FontAwesome;
  }

  .ascending .sort-caret {
    &:before{
      content: "\f0d8";
    }
  }

  .descending .sort-caret {
    &:before{
      content: "\f0d7";
    }
  }

  + .backgrid-paginator > ul{
    font-weight: $font-weight-normal;
    display: inline-block;
    padding-left: 0;
    margin: $line-height-computed 0;
    border-radius: $border-radius;

    > li {
      display: inline; // Remove list-style and block-level defaults
      > a,
      > span {
        position: relative;
        float: left; // Collapse white-space
        line-height: $line-height-base;
        text-decoration: none;
        border: 1px solid $pagination-border;
        border-radius: $border-radius;
        margin: 0 2px;

        > .fa-lg{
          position: relative;
          top: -1px;
        }
      }
      &:first-child {
        > a,
        > span {
          margin-left: 0;
        }
      }
    }

    > li > a,
    > li > span {
      &:hover,
      &:focus {
        border-color: $pagination-hover-border;
      }
    }

    > .active > a,
    > .active > span {
      &,
      &:hover,
      &:focus {
        z-index: 2;
        border-color: $pagination-active-border;
        cursor: default;
      }
    }

    > .disabled {
      > span,
      > span:hover,
      > span:focus,
      > a,
      > a:hover,
      > a:focus {
        border-color: $pagination-disabled-border;
        cursor: not-allowed;
      }
    }

    > li > a {
      padding: $padding-small-vertical $padding-small-horizontal;
      font-size: $font-size-sm;
      line-height: $line-height-computed;
    }

    > li {
      &:first-child {
        > a {
          @include border-left-radius($border-radius-sm);
        }
      }
      &:last-child {
        > a {
          @include border-right-radius($border-radius-sm);
        }
      }
    }
  }
}
