<div class="row">          
    <div class="col-lg-offset-2 col-lg-12">
      <section class="widget h-divider">
        <!--section/widget header-->
        <header>
          <div class="row">
            <div class="col-lg-10">
              <label attr.for="ta-comm-{{context}}" class="h5 fw-semi-bold"><i class="glyphicon glyphicon-pencil txt-gap"></i>Notes</label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-10">
              <p title="Allows maximum of 4000 characters" class="h6">Maximum 4000 characters</p>
            </div>
          </div>          
        </header>   
        <form role="form" method="post" data-parsley-priority-enabled="false" novalidate="novalidate">
          <div class="row">
            <div class="col-md-12">
                <textarea cols="5"></textarea>
            </div>
          </div>
          <div aria-live="assertive" class="row" style="margin-top:10px;">
            <div class="col-md-10"> </div>
            <div role="alert" class="col-md-2">
              <button id="btn-comment" type="button"  [ngBusy]="{busy: busy, message: 'Saving...', backdrop: false}"
                title="Save Goals" class="btn btn-primary btn-block" (click)="updateComment();">
                Save Comments
              </button>                        
            </div>
          </div>
        </form>
        <div aria-live="assertive">           
          <div role="alert" *ngIf="showCommentsErrorFlag" class="row">
              <div class="col-lg-12 col-xs-12">
                  <div class="form-group row">
                      <div class="col-md-12 col-xs-12">
                          <alert  *ngFor="let alert of alertsComments; let i = index" [type]="alert.type + ' alert-sm'">
                              <div [innerHTML]="alert.msg"></div><div>Email us for assistance at: </div>
                          </alert>                               
                      </div>                    
                  </div>
              </div>            
          </div>    
        </div>    
      </section>
    </div>     
</div>  