<div class="text-center bg-white text-dark">
  <div class="leadX">
    <div class="business-card" style="height:355px">
      <div class="media">
        <div class="media-left">
          <img class="media-object rounded-circle profile-img" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png">
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{contactmodel.Name}}</h4>
          <div class="job"><span class="fw-semi-bold">Role: </span>{{contactmodel.Role}}</div>
          <div class="row">
            <div class="col-lg-6">
              <span class="fw-semi-bold">SSN: </span>{{contactmodel.SSN}}
            </div>
            <div class="col-lg-6">
              <span class="fw-semi-bold">DOB: </span>{{dv(contactmodel.DOB)}}
            </div>
          </div>
          <div class="job"><span class="fw-semi-bold">Phone: </span>{{contactmodel.Phone}}</div>
          <div class="mail"><span class="fw-semi-bold">Email: </span><a href="mailto:{{contactmodel.Email}}">{{contactmodel.Email}}</a>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <span class="fw-semi-bold">Living Address: </span>{{contactmodel.LivingAddress}}
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <span class="fw-semi-bold">Prev Address: </span>{{contactmodel.PrevLivingAddress}}
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <span class="fw-semi-bold">Mailing Address: </span>{{contactmodel.MailingAddress}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
