<div class="modal fade" id="import-prod-csv" tabindex="-1" role="dialog" aria-labelledby="import-prod-csv-title" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <!--Modal Header-->
          <div class="modal-header modal-title-bar">
              <div>
                  <h2 title="Import Product Sheet" class="h4 modal-title text-xs-center fw-bold mt" id="import-prod-csv-title">
                      Import Product Sheet
                  </h2>
              </div>
          </div>
          <!--Modal Body-->
          <div class="modal-body">
              <div >
                  <form id="importfileform" role="form" class="form-horizontal" data-parsley-priority-enabled="false"
                      novalidate="novalidate" data-parsley-validate data-parsley-focus="first">
                      <div class="form-group row">
                          <label for="fileImport" class="col-md-4 form-control-label text-md-right">Browse
                              <span class="help-block">CSV Document is Required</span>
                          </label>
                          <div class="col-md-8 col-xs-12">
                              <input name="..." type="file" id="fileImport" title="Upload File" (change)="fileChangeEvent($event)"
                                  accept=".csv"
                                  required data-parsley-errors-container="#csvdocerror" data-parsley-required-message="Error: CSV Document is required">
                              <div id="csvdocerror"></div>
                          </div>
                      </div>

                      <!-- Show Progress Bar -->
                      <div class="form-group row">
                        <progressbar class="pbmargin" [animate]="false" [value]="dynamic" type="success"><b>{{dynamic | number: '1.0-0' }}%</b></progressbar>
                      </div>

                      <!--Show Error-->
                      <div aria-live="assertive">
                          <div role="alert" *ngIf="showErrorFlag" class="row">
                              <div class="col-md-2"></div>
                              <div class="col-md-8">
                                  <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'">
                                      <div [innerHTML]="alert.msg"></div>
                                  </alert>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          <!--Modal Footer-->
          <div class="modal-footer">
              <div>
                  <button type="button" id="btn-import-file" class="btn btn-primary txt-gap" (click)="importFile()">Import
                      File</button>
                  <button type="button" class="btn btn-gray" (click)="reset()">Close</button>
              </div>
          </div>
      </div>
  </div>
</div>
<div info-box [msg]="msgDisplay" [title]="titleDisplay" (hideModal)="onCloseInfoPopup()"></div>
