@import "../../../scss/bootstrap-datepicker3.min";
@import "../../../../node_modules/bootstrap-select/sass/bootstrap-select";
@import "../../../scss/variables";
@import "../../../../node_modules/bootstrap/scss/bootstrap-grid";
@import "../../../../node_modules/bootstrap/scss/_variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

.pbmargin{
  margin-left: 10%;
  margin-right: 10%;
}
