<div class="modal fade" id="proj-query-popup" tabindex="-1" role="dialog" aria-labelledby="proj-query-popup-title"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!--Modal Header-->
            <div class="modal-header">
                <div>
                    <h2 title="Filter Report" class="h4 modal-title text-xs-center fw-bold mt" id="proj-query-popup-title">
                        Filter Details
                    </h2>
                </div>
            </div>
            <!--Modal Body-->
            <div class="modal-body">
                <query-builder [(ngModel)]='query' [config]='config' [operatorMap]="myOperatorMap"></query-builder>
                <form id="frmSaveQuery" role="form" class="form-horizontal mt20">
                    <div class="form-group row">
                        <div class="col-lg-2 col-md-2 col-xs-2"></div>
                        <label for="filter-query-name" class="form-control-label text-md-right">Save Query
                            Name
                        </label>
                        <div class="col-lg-6 col-md-6 col-xs-6">
                            <input type="text" class="form-control" id="filter-query-name" name="query-name"
                                [(ngModel)]="saveQueryName" [ngModelOptions]="{standalone: true}" aria-label="query name">
                        </div>
                        <div class="col-lg-2 col-md-2 col-xs-2"></div>
                    </div>
                </form>
            </div>
            <!--Modal Footer-->
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-primary mr-auto" (click)="saveFilter()">Save Filter</button>
                    <button type="button" id="btn-import-file" class="btn btn-primary txt-gap" (click)="applyFilter()">Apply
                        Filter</button>
                    <button type="button" class="btn btn-gray" (click)="reset()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>