@import "../../../scss/helpers";

.warning {
    color: red;
}

input.parsley-error {
    border-color: $brand-danger;
    @include box-shadow(inset 0 1px 1px rgba($brand-danger, .075));
}


.parsley-errors-list {
  font-size: $font-size-sm;
  padding-left: 0;
  margin-bottom: 5px;

  li {
    list-style: none;
    color: $danger;
  }
}

.txt-gap{
  margin-right: 5px;
}
