@import "../../../scss/bootstrap-datepicker3.min";
@import "../../../../node_modules/bootstrap-select/sass/bootstrap-select";
@import "../../../scss/variables";
@import "../../../../node_modules/bootstrap/scss/bootstrap-grid";
@import "../../../../node_modules/bootstrap/scss/_variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

/***********************************/
/**            PARSLEY            **/
/***********************************/
.blue {
    color: blue;
}

.SearchCriteriaController{
  width: 100%;
}

.nolist {
    list-style: none;
}

.checkboxes label {
  display: block;
  float: left;
  padding-right: 10px;
  white-space: nowrap;
}

.checkboxes input {
  vertical-align: middle;
}
.checkboxes label span {
  vertical-align: middle;
}

.white, .white a {
  color: #fff;
}

.btn-label {
  background: transparent;
  left: 2px;
  padding: 1px 6px;
}

.md-editor {
  display: block;
  border: 1px solid $table-border-color;

  > .md-header, .md-footer {
    display: block;
    padding: 6px 4px;
    background: $panel-default-heading-bg;
  }

  > .md-header {
    margin: 0;

    .glyphicon {
      top: 3px;
    }
  }

  > .md-preview {
    margin-left: -1px;
    margin-right: -1px;
    padding: $padding-base-vertical $padding-base-horizontal;
    background: $panel-bg;
    border-top: 1px dashed $table-border-color;
    min-height: 10px;
  }

  > textarea {
    font-family: $font-family-monospace;
    font-size: $font-size-base;
    outline: 0;
    outline: thin dotted  \9; /* IE6-9 */
    margin: 0;
    display: block;
    width: 100%;
    border: 0;
    border-top: 1px dashed $table-border-color;
    border-radius: 0;
    box-shadow: none;
    background: $input-bg-disabled;
    &:focus {
      box-shadow: none;
      background: $input-bg;
    }
  }

  // Hover state
  $color: $input-border-focus;
  &.active {
    border-color: $color;
    outline: 0;
  }
}
//
// /**
//  * Bootstrap slider. converted from less files
//  */
//
// $slider-line-height: 8px;
// $slider-handle-size: 26px;
//
// .slider {
//   display: inline-block;
//   vertical-align: middle;
//   position: relative;
//   &.slider-horizontal {
//     width: 210px;
//     height: $slider-line-height;
//     .slider-track {
//       height: $slider-line-height/2;
//       width: 100%;
//       margin-top: -$slider-line-height/4;
//       top: 50%;
//       left: 0;
//     }
//     .slider-selection {
//       height: 100%;
//       top: 0;
//       bottom: 0;
//     }
//     .slider-handle {
//       margin-left: -$slider-handle-size/2;
//       margin-top: -$slider-handle-size*3/8;
//       &.triangle {
//         border-width: 0 $slider-line-height/2 $slider-line-height/2 $slider-line-height/2;
//         width: 0;
//         height: 0;
//         border-bottom-color: #0480be;
//         margin-top: 0;
//       }
//     }
//   }
//   &.slider-vertical {
//     height: 210px;
//     width: $slider-line-height;
//     .slider-track {
//       width: $slider-line-height/2;
//       height: 100%;
//       margin-left: -$slider-line-height/4;
//       left: 50%;
//       top: 0;
//     }
//     .slider-selection {
//       width: 100%;
//       left: 0;
//       top: 0;
//       bottom: 0;
//     }
//     .slider-handle {
//       margin-left: -$slider-handle-size*3/8;
//       margin-top: -$slider-handle-size/2;
//       &.triangle {
//         border-width: $slider-line-height/2 0 $slider-line-height/2 $slider-line-height/2;
//         width: 1px;
//         height: 1px;
//         border-left-color: #0480be;
//         margin-left: 0;
//       }
//     }
//   }
//   &.slider-disabled {
//     .slider-handle {
//       @include gradient-vertical(#dfdfdf, #bebebe);
//     }
//     .slider-track {
//       @include gradient-vertical(#e5e5e5, #e9e9e9);
//       cursor: not-allowed;
//     }
//   }
//   input {
//     display: none;
//   }
//   .tooltip-inner {
//     white-space: nowrap;
//   }
//
//   .tooltip.top {
//     top: -30px;
//   }
// }
// .slider-track {
//   position: absolute;
//   cursor: pointer;
//   @include gradient-vertical(#eee, #f8f8f8);
//
//   @include box-shadow(inset 0 1px 2px rgba(0,0,0,.1));
//   border-radius: $border-radius;
// }
// .slider-selection {
//   position: absolute;
//   background-color: $brand-primary;
//   @include box-shadow(inset 0 -1px 0 rgba(0,0,0,.15));
//   box-sizing: border-box;
//   border-radius: $border-radius;
//
//   .slider-danger &{
//     background-color: $danger;
//   }
//   .slider-success &{
//     background-color: $brand-success;
//   }
//   .slider-warning &{
//     background-color: $brand-warning;
//   }
//   .slider-info &{
//     background-color: $brand-info;
//   }
//   .slider-inverse &{
//     background-color: $gray;
//   }
// }
// .slider-handle {
//   position: absolute;
//   width: $slider-handle-size;
//   height: $slider-handle-size;
//   background-color: $white;
//   @include box-shadow(inset 0 1px 0 rgba(255,255,255,.2), 0 1px 3px rgba(0,0,0,.5));
//   border: 0px solid transparent;
//
//   &:focus{
//     outline: 0;
//   }
//
//   &.round {
//     border-radius: 50%;
//   }
//   &.triangle {
//     background: transparent none;
//   }
// }
/**
 * Bootstrap select
 */

.selectpicker.form-control {
  height: auto;
}

.bootstrap-select {
  .dropdown-toggle {
    padding-left: 10px;

    &:after {
      margin-right: 0;
      margin-left: 0;
    }
  }
  .dropdown-menu > li > a {
    display: block;
    width: 100%; // For `<button>`s
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: $line-height-base;
    color: $dropdown-link-color;
    text-align: inherit; // For `<button>`s
    white-space: nowrap; // prevent links from randomly breaking onto new lines
    background: none; // For `<button>`s
    border: 0; // For `<button>`s

    @include hover-focus {
      color: $dropdown-link-hover-color;
      text-decoration: none;
      background-color: $dropdown-link-hover-bg;
    }

    // Active state
    &.active {
      @include plain-hover-focus {
        color: $dropdown-link-active-color;
        text-decoration: none;
        background-color: $dropdown-link-active-bg;
        outline: 0;
      }
    }

    // Disabled state
    //
    // Gray out text and ensure the hover/focus state remains gray
    &.disabled {
      @include plain-hover-focus {
        color: $dropdown-link-disabled-color;
      }

      // Nuke hover/focus effects
      @include hover-focus {
        text-decoration: none;
        cursor: $cursor-disabled;
        background-color: transparent;
        background-image: none; // Remove CSS gradient
        // @include reset-filter();
      }
    }
  }
}

/**
*  autosize
**/

/***********************************/
/**          NEWS LIST           **/
/**********************************/

.news-list{
  margin-bottom: 0;
  padding-left: 0;

  li{
    list-style: none;
    box-sizing: content-box;
    border-top: 1px solid $gray-lighter;
    padding: 12px;
    cursor: pointer;
    @include transition(background-color .2s ease-out);

    &:hover{
      background: $body-bg-light;
    }

    &:last-child{
      margin-bottom: -10px;
    }
  }

  img,
  .icon{
    float: left;
    height: 50px;
    width: 50px;
  }

  .icon{
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 28px;
  }

  .news-item-info{
    margin-left: 62px; /*50 + 12px padding*/
  }

  .name{
    text-transform: uppercase;

    a{
      text-decoration: none;
      outline:0;
      &:hover{
        color: $link-color;
      }
    }
  }
}

.autogrow {
  overflow: hidden;
  resize: none;
}

.autooverflow{
  overflow: auto;
}


.form-wizard{
  .nav-pills{
    > li > a{
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: $gray-lighter;
      color: $gray-light;
      @include border-radius(3px);
      cursor: default;
    }

    > li.active > a{
      background-color: $brand-primary;
      color: $white;
    }
    > li.done > a {
      background-color: lighten($brand-primary, 28%);
      color: $white;
      cursor: pointer;
    }
    @include media-breakpoint-up(md){
      &.nav-justified{
        > li {
          padding: 0 5px;
          &:first-child{
            padding-left: 0;
          }
          &:last-child{
            padding-right: 0;
          }
        }
      }
    }
  }

  .tab-pane{
    padding: $line-height-computed 20px;
    @include border-radius(5px);
  }

  .pager > li.disabled > .btn{
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
    opacity: .65;
    @include box-shadow(none);
  }

  .pager {
    padding-left: 0;
    margin-top: 1rem;

    li {
      display: inline;
    }
  }

  //fix conflict with MODAL WIZARD
  .pager.wizard{
    display: block;
  }
}

.filter-box{
  background-color: lightyellow;
  padding-top: 10px;
}

.guidelink{
  margin-right: 100px;
}

div#emailSuccess {
  display: none;
  width: 40%;
  position: absolute;
  top: 30%;
  margin-left: 30%;
  z-index: 9999;
}