<div class="SearchCriteriaController" data-ng-controller="SearchCriteriaController">
  <div aria-live="assertive">
    <div role="alert" *ngIf="showErrorFlag" class="row">
      <div class="col-lg-offset-1 col-lg-6 col-xs-12">
        <div class="form-group row">
          <div class="col-md-12 col-xs-12">
            <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'">
              <div [innerHTML]="alert.msg"></div>
              <div>Email us for assistance at: </div>
            </alert>
          </div>
      </div>
    </div>
  </div>
    <!--Search box widget-->
    <div class="row">
      <div class="col-lg-offset-1 col-lg-12">
          <section id="search-widget" class="widget h-divider" widget>
              <header>
                  <div class="row">
                      <div class="col-md-3">
                          <div class="form-group">
                              <div class="input-group input-group-transparent input-group-rounded">
                                  <span class="input-group-addon">
                                      <i class="fa fa-search"></i>
                                  </span>
                                  <input type="text" id="keyword-search-input" class="form-control" [(ngModel)]="keywordSearch"
                                      name="keywordSearch" (keyup.enter)="onClickSearch(keywordSearch)"
                                      aria-label="Enter keyword for search" placeholder="Begin a search to see results"
                                      title="Begin a search to see results">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-2 pull-right">
                          <div class="form-group">
                              <button id="search_btn" type="submit" class="btn btn-primary btn-block" (click)="onClickSearch(keywordSearch)"
                                  title="Search">
                                  <i class="fa fa-search txt-gap"></i>Search
                              </button>
                          </div>
                      </div>
                      <div class="col-md-2 pull-right">
                      </div>
                  </div>
                  <div class="widget-controls">
                    <a data-widgster="expand" title="Expand" href="#"><i class="fa fa-chevron-right"></i></a>
                    <a data-widgster="collapse" title="Collapse" href="#"><i class="fa fa-chevron-down"></i></a>
                  </div>
              </header>
              <div class="widget-body">
              </div>
          </section>
       </div>
  </div>
  <div class="row mb25">
    <div class="col-lg-12">
      <div class="btn-toolbar" id="pg-tbar" role="toolbar" aria-label="Toolbar with button groups">
        <!-- <div class="btn-group mr-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-primary" (click)="AddNewProduct()"><i class="glyphicon glyphicon-plus-sign txt-gap"></i>Add Product</button>
        </div> -->
        <div class="btn-group" role="group" aria-label="right group">
            <button type="button" class="btn btn-primary pull-right" title="Refresh Data" id="btn-ref-prod"
            aria-label="Refresh Data" (click)="createNewBOM()">
              <i class="fa fa-plus-circle txt-gap"></i> Create a BOM
            </button>
        </div>
        <!-- <div class="btn-group mr-2" role="group" aria-label="Second group">
          <button type="button" id="btn-imp-prod" class="ml20 btn btn-primary btn-block"
          data-toggle="modal" data-target="#import-prod-csv" data-backdrop="static" data-keyboard="false"
          focusOn="#import-prod-csv"
          (click)="setUploadMethod(1)"
          >
              <i class="fa fa-upload txt-gap"></i>
             Upload Pricing Sheet
          </button>
        </div>
        <div class="btn-group" role="group" aria-label="right group">
            <button type="button" class="btn btn-primary pull-right" title="Export Data"
            aria-label="Export Data" (click)="ExportAllProductstoExcel()">
              <i class="fa fa-download txt-gap"></i> Export Data
            </button>
        </div> -->
      </div>
    </div>
  </div>
  <!--Applicant widget-->
  <div class="row">
    <div class="col-lg-12">
      <section *ngIf="(!isProcessorMode())" class="widget h-divider autooverflow" widget>
        <header>
          <div class="row">
            <div class="col-lg-4 col-xs-4">
                <div class="row">
                    <div class="col-lg-8 col-xs-8 pull-right">
                      <h4>Pricing Sheet</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-4">
            </div>
            <div class="col-lg-4 col-xs-4">
            </div>
          </div>
          <div class="widget-controls">
            <a data-widgster="expand" title="Expand" href="#"><i class="fa fa-chevron-right"></i></a>
            <a data-widgster="collapse" title="Collapse" href="#"><i class="fa fa-chevron-down"></i></a>
          </div>
        </header>
        <div class="widget-body">
          <div class="row">
            <div class="col-lg-12 col-xs-12">
              <form id="htc-app-search-form" class="form-horizontal" role="form" data-parsley-priority-enabled="false"
              [ngBusy]="{busy: busyLoadBOMs, message: 'Loading Pricing Information...', backdrop: false}"
                novalidate="novalidate" data-parsley-validate data-parsley-focus="first">
                <div search-app-pricing-results [searchresults]="tplproducts" class="mt" (refreshSearch)="refreshTPLSearch($event)"
                   [ShowLoadingProgressBar]="showLoadingProgressBar"
                  (showEmailPopup)="showEmail(composemailModal, $event)" (showUploadDocPopup)="showUploadDocument($event)"></div>
              </form>
            </div>
          </div>
        </div>
      </section>
      </div>
  </div>
  <div aria-live="assertive">
    <div role="alert" *ngIf="showErrorFlag" class="row">
      <div class="col-lg-offset-1 col-lg-6 col-xs-12">
        <div class="form-group row">
          <div class="col-md-12 col-xs-12">
            <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'">
              <div [innerHTML]="alert.msg"></div>
              <div>Email us for assistance at: </div>
            </alert>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div bsModal id="compose-email-modal" #composemailModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header modal-title-bar">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Compose Email</h4>
        <button type="button" class="close pull-right" (click)="closeComposeEmail(composemailModal)" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <section class="widget widget-email">
          <!-- <header id="widget-email-header">
                  <h4>Compose <span class="fw-semi-bold">New</span></h4>
                </header> -->
          <div class="widget-body" id="mailbox-content" [ngBusy]="{busy: busySendEmail, message: 'Sending Email...', backdrop: true}">
            <div class="compose-view" id="compose-view">
              <form id="email-compose" class="form-email-compose" method="get" action="#" data-parsley-priority-enabled="false"
                novalidate="novalidate" data-parsley-validate data-parsley-focus="first">
                <div class="form-group">
                  <input type="email" id="input-to" placeholder="To" [(ngModel)]="emailsender" [ngModelOptions]="{standalone: true}"
                    name="sender" class="input-transparent form-control" required readonly>
                </div>
                <!-- <div class="form-group">
                    <input type="email" id="input-cc" placeholder="Cc" [(ngModel)]="emailsendercc" [ngModelOptions]="{standalone: true}"
                      name="sendercc" class="input-transparent form-control">
                  </div> -->
                <div class="form-group">
                  <input type="text" id="input-subject" placeholder="Subject" [(ngModel)]="emailsubject"
                    [ngModelOptions]="{standalone: true}" name="subject" class="input-transparent form-control"
                    required readonly>
                </div>
                <div class="form-group">
                  <textarea rows="10" class="form-control" id="wysiwyg" placeholder="Message" [(ngModel)]="emailbody"
                    [ngModelOptions]="{standalone: true}" required></textarea>
                </div>
                <div class="clearfix">
                  <div class="btn-toolbar pull-right">
                    <button id="compose-discard-button" class="btn btn-gray" (click)="discardEmail()">Discard</button>
                    <button type="submit" id="compose-send-button" class="btn btn-danger" (click)="sendComposedEmail()">Send</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div aria-live="assertive" id="email-error-box">
            <div role="alert" *ngIf="showSendEmailFlag" class="row">
              <div class="col-lg-12 col-xs-12">
                <div class="form-group row">
                  <div class="col-md-12 col-xs-12">
                    <alert *ngFor="let alert of emailalerts; let i = index" [type]="alert.type + ' alert-sm'">
                      <div [innerHTML]="alert.msg"></div>
                      <div>Email us for assistance at: </div>
                    </alert>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeComposeEmail(composemailModal)">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="alert alert-success alert-dismissible fade show" role="alert" id="emailSuccess">
  Email has been sent successfully! We will contact you within 2 business days.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeComposeEmail(composemailModal)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div upload-doc [uploadmodel]="uploadappmodel" (hideUploadDocPopup)="hideUploadDocPopup($event)"></div>
<div imp-prod-csv [UploadMethod]="uploadmethod" (refreshProducts)="refreshPricingList($event)"></div>
<div prod-query-popup (refreshSearch)="refreshUserQuerySearch($event)" (refreshFilter)="refreshFilter($event)" [editUserFilter]="editUserFilter"></div>
