<div bsModal #uploadDocModal="bs-modal" class="modal fade" id="upload-doc" tabindex="-1" role="dialog" aria-labelledby="upload-doc-title" aria-hidden="true">
	<div class="modal-dialog modal-xlg">
		<div class="modal-content">
			<!--Modal Header-->
			<div class="modal-header modal-title-bar">
                <h2 title="Upload Document" class="h4 modal-title text-xs-center fw-bold mt" id="upload-doc-title">
                    Documents
                </h2>
			</div>
			<!--Modal Body-->
			<div class="modal-body">
				<form id="uploadDocForm" role="form" class="form-horizontal" data-parsley-priority-enabled="false" novalidate="novalidate"
					data-parsley-validate data-parsley-focus="first">
					<div class="row mt20">
							<div class="col-lg-12 col-xs-12">
								<table class="mr20 table table-hover" [ngBusy]="{busy: busy, message: 'Loading...', backdrop: false}" >
									<colgroup>
									<col style="width:45%">
									<col style="width:10%">
									<col style="width:20%">
									<col style="width:10%">
									<col style="width:10%">
									</colgroup>
									<thead>
									<tr>
										<th><span>Document Name</span></th>
										<th><span>Uploaded</span></th>
										<th><span>Select File</span></th>
										<th><span>Upload</span></th>
										<th><span>Download</span></th>
									</tr>
									</thead>
									<tbody>
									<ng-container *ngIf="uploadmodel.type === 'HTC'">
											<tr *ngFor="let doc of tplmodel.documents; let row = index;">
												<td>{{doc.name}}</td>
												<td><i *ngIf="doc.status==='Y'" class="ml10 glyphicon glyphicon-ok green-check" ></i></td>
												<td><input type="file" class="form-control-file" id="sp-upload-file-{{i}}" (change)="fileChangeEvent($event, row)"></td>
												<td><button type="button" id="btn-upload-file-{{i}}" class="txt-gap btn btn-primary" (click)="uploadFile(row, doc.name)">Upload</button></td>
												<td>
												<button *ngIf="doc.status === 'Y'" type="button" id="btn-download-file-{{i}}" class="txt-gap btn btn-primary" (click)="downloadFile(doc, 'HTC')">Download</button></td>
											</tr>
									</ng-container>
									</tbody>
									<tfoot>
									</tfoot>
								</table>
							</div>
					</div>
				</form>
			</div>
			<!--Modal Footer-->
			<div class="modal-footer">
				<button type="button" class="btn btn-gray" (click)="hideMe();">Close</button>
			</div>
		</div>
	</div>
</div>
<div info-box [msg]="msgDisplay" [title]="titleDisplay" (hideModal)="onCloseInfoPopup()"></div>