<div class="modal fade" id="create-prodgroup" tabindex="-1" role="dialog" aria-labelledby="create-prodgroup-title" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header" style="background-color:#4175ab; color: #ffff">
				<h1 class="h4 modal-title text-xs-left fw-bold mt" id="create-prodgroup-title">Add Product Group</h1>
			</div>
			<!--Modal Body-->
			<div class="modal-body">
				<form id="addproductgroupform" #addproductgroupform="ngForm" role="form" class="form-horizontal" data-parsley-priority-enabled="false" novalidate="novalidate"
          data-parsley-validate data-parsley-focus="first">
					<!-- Master Product -->
					<div class="form-group row">
              <div class="col-md-2"></div>
              <label for="name" class="col-md-2 form-control-label text-md-right">Master Product
                <span class="help-block">Required </span>
              </label>
              <div class="col-md-6 col-xs-12">
                  <select required [(ngModel)]="prodgroup.masterProductId" title="Master Product" name="masterproduct" class="form-control fdatable" id="sel-mster-prod"
                  placeholder="Select Master Product" [(ngModel)]="prodgroup.masterProductId" [ngModelOptions]="{standalone: true}"
                  data-parsley-required-message="Error: Master Product is required">
                  <option></option>
                  <option *ngFor="let mp of lookupMasterProducts" [ngValue]="mp.lookupId">{{mp.refValue}}</option>
                </select>
              </div>
              <div class="col-md-2"></div>
          </div>
					<!-- Group Name -->
					<div class="form-group row">
						<div class="col-md-2"></div>
						<label for="name" class="col-md-2 form-control-label text-md-right">Group Name
							<span class="help-block">Required </span>
						</label>
						<div class="col-md-6 col-xs-12">
							<input type="text" class="form-control" id="name" [(ngModel)]="prodgroup.productGroupName" [ngModelOptions]="{standalone: true}"
							required data-parsley-required-message="Error: Group Name is required" >
						</div>
						<div class="col-md-2"></div>
          </div>
        </form>
        <div class="row">
          <div class="col-lg-12 col-xs-12 pdl10 pdr10">
            <div style="margin-bottom: 5px;">
              <div>
                  <button class="btn btn-sm btn-primary" (click)="onAddProduct()">Add Product</button>
                  <button class="ml20 btn btn-sm btn-primary" (click)="onRemoveSelected()">Remove Selected</button>
                  <button class="ml20 btn btn-sm btn-primary" (click)="clearData()">Clear Data</button>
                  <button class="ml20 btn btn-sm btn-primary" (click)="sizeToFit()">Size To Fit</button>
                  <button class="ml20 btn btn-sm btn-primary" (click)="autoSizeAll()">Auto-Size All</button>
              </div>
            </div>
            <div>
              <ag-grid-angular
                  #agGrid
                  style="width: 98%; height: 350px;"
                  class="ag-theme-balham"
                  [rowData]="rowData"
                  [columnDefs]="columnDefs"
                  [defaultColDef]="defaultColDef"
                  [floatingFilter]="true"
                  [pagination]="true"
                  (gridReady)="onGridReady($event)"
                  (cellValueChanged)="onCellValueChanged($event)"
                  [paginationAutoPageSize]="true"
                  >
              </ag-grid-angular>
            </div>
          </div>
        </div>
			</div>
			<div aria-live="assertive">
				<div role="alert" *ngIf="showErrorFlag" class="row">
					<div class="col-lg-12 col-xs-12">
						<div class="form-group row">
							<div class="col-md-12 col-xs-12">
								<alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'">
									<div [innerHTML]="alert.msg"></div>
								</alert>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Modal Footer-->
			<div class="modal-footer">
				<button type="button" id="btn-save" class="btn btn-primary" (click)="createProductGroup(prodgroup)">Save Product Group</button>
				<button type="button" class="btn btn-secondary" (click)="reset(false)">Cancel</button>
			</div>
		</div>
	</div>
</div>
