@import "helpers";

.h-thin-divider{
    width:100%;
    border-bottom:1px solid #ddd;
}

.prodtocompmapcontroller{
  width:98%;
}

.inactive{
  text-decoration: line-through;
}

.ag-row .ag-cell {
  display: flex;
  align-items: center;
}