<div class="modal fade" id="create-client" tabindex="-1" role="dialog" aria-labelledby="create-client-title" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="h4 modal-title text-xs-left fw-bold mt" id="create-client-title">Add Client</h1>
			</div>
			<!--Modal Body-->
			<div class="modal-body">
				<form id="addclientform" #addclientform="ngForm" role="form" class="form-horizontal" data-parsley-priority-enabled="false" novalidate="novalidate"
					data-parsley-validate data-parsley-focus="first">
					<!-- Name -->
					<div class="form-group row">
						<div class="col-md-2"></div>
						<label for="name" class="col-md-2 form-control-label text-md-right">Name
							<span class="help-block">Required </span>
						</label>

						<div class="col-md-6 col-xs-12">
							<input type="text" class="form-control" id="name" [(ngModel)]="client.name" [ngModelOptions]="{standalone: true}"
							required data-parsley-required-message="Error: Name is required" >
						</div>
						<div class="col-md-2"></div>
					</div>
					<!-- Accounts -->
					<div class="form-group row">
						<div class="col-md-2"></div>
						<label for="cli-acc" class="col-md-2 form-control-label text-md-right">Accounts
							<span class="help-block">Required </span>
						</label>
						<div class="col-md-6 col-xs-12">
							<select required [(ngModel)]="client.accountId" title="Account" name="Account" class="form-control fdatable" id="cli-acc"
							placeholder="Select Account"
							data-parsley-required-message="Error: Account is required">
							<option></option>
							<option *ngFor="let acc of lstAccounts" [ngValue]="acc.accountId">{{acc.name}}</option>
						</select>
						</div>
						<div class="col-md-2"></div>
					</div>
					<!--Active         -->
					<div class="form-group row">
						<div class="col-md-1"></div>
						<label for="enabled" class="col-md-3 form-control-label text-md-right">Active
						</label>
						<div class="col-md-6 col-xs-12">
							<input type="checkbox" class="form-control form-checkbox" id="enabled" [(ngModel)]="clientenabled"
							 [ngModelOptions]="{standalone: true}">
						</div>
						<div class="col-md-2"></div>
					</div>
				</form>
			</div>
			<div aria-live="assertive">
				<div role="alert" *ngIf="showErrorFlag" class="row">
					<div class="col-lg-12 col-xs-12">
						<div class="form-group row">
							<div class="col-md-12 col-xs-12">
								<alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'">
									<div [innerHTML]="alert.msg"></div>
								</alert>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Modal Footer-->
			<div class="modal-footer">
				<button type="button" id="btn-save" class="btn btn-primary" (click)="createClient(client)">Save Client</button>
				<button type="button" class="btn btn-secondary" (click)="reset(false)">Cancel</button>
			</div>
		</div>
	</div>
</div>