<div class="container">
  <main id="content" class="widget-login-container" role="main">
    <div class="row">
      <div class="col-xl-4 col-md-6 col-xs-10 offset-xl-4 offset-md-3 offset-xs-1">
        <h1 class="widget-login-logo animated fadeInUp">
          <i class="fa fa-circle text-gray"></i>
          TRLM
          <i class="fa fa-circle text-warning"></i>
        </h1>
        <section class="widget widget-login animated fadeInUp">
          <div class="widget-body">
            <form class="form-signin" method="POST" action="#" role="form">
              <div class="form-group">
                <h4 *ngIf="accountConfirmed=='N'">Confirm Registration</h4>
                <h4 *ngIf="accountConfirmed=='Y'">Confirm Email</h4>
              </div>
              <div *ngIf="errorMessage!=null" class="alert alert-danger">
                {{ errorMessage }}
              </div>
              <div class="form-group">
                <label class="control-label" for="confirmationCode">Confirmation Code</label>
                <input id="confirmationCode" type="text" maxlength="50" class="form-control" [(ngModel)]="confirmationCode"
                  [ngModelOptions]="{standalone: true}">
                  <small id="h-confirmationCode" class="form-text text-muted font-italic">(Check your email for confirmation code. Please check SPAM folder as well.)</small>
              </div>
              <div class="form-group">
                <button (click)="onConfirmRegistration()" id="confirmRegistration" type="submit" class="btn btn-primary btn-block">Confirm
                </button>
              </div>
              <div class="row mt25">
                 <a class="mx-auto" (click)="onResend()" href="#"> <i class="fa fa-fw fa-envelope-o"></i> Resend Confirmation Code</a>
              </div>
              <div class="row mt10">
                <div class="col-lg-12 col-xs-12">
                  <div class="row">
                    <div class="col-lg-6 col-xs-6 text-center">
                      <a [routerLink]="['/login/register']"> <i class="fa fa-fw fa-group"></i> Register</a>
                    </div>
                    <div class="col-lg-6 col-xs-6 text-center">
                        <a [routerLink]="['/login']"> <i class="fa fa-fw fa-user"></i> Login</a>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>
  </main>
</div>
<div class="modal fade" id="app-popup">
	<div class="modal-dialog" role="app-popup">
		<div class="modal-content">
			<div class="modal-header modal-title-bar">
				<div title="title" class="h4 modal-title text-xs-center fw-bold mt" >{{title}}</div>
			</div>
			<!--Modal Body-->
			<div class="modal-body">
				<div [innerHTML]="msg"></div>
			</div>
			<!--Modal Footer-->
			<div class="modal-footer">
				<button type="button" class="btn btn-gray" (click)="onClose()" title="Close">Close</button>
			</div>
		</div>
	</div>
</div>
