.switch {
  box-sizing: content-box;
  margin-left: -20px;
}

.switch i {
  display: inline-block;
  cursor: pointer;
  margin-left: -20px;
  margin-bottom: -3px;
  padding-right: 20px;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  border-radius: 20px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, .5);
}

.switch i:before {
  display: block;
  content: '';
  width: 30px;
  height: 30px;
  padding: 1px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}

.switch :checked+i {
  padding-right: 0;
  padding-left: 20px;
  background: rgb(100, 189, 99);
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.ml25 {
  margin-left: 25px;
}

.ml40 {
  margin-left: 40px;
}

.ml50 {
  margin-left: 50px;
}

.mr10 {
  margin-right: 10px;
}

.mr20 {
  margin-right: 20px;
}

.mr25 {
  margin-right: 25px;
}

.mt5n {
  margin-top: -5px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mt7{
margin-top: 7px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.txt-gap {
  margin-right: 5px;
}

.h-divider {
  width: 100%;
  border-bottom: 3px solid #778899;
}

.h-thin-divider {
  width: 100%;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

.h-thin-divider-np {
  width: 100%;
  border-bottom: 1px solid gray;
}

.h-border {
  width: 100%;
  border: 1px solid gray;
  padding-bottom: 10px;
}

.h-border-right {
  width: 100%;
  border-right: 1px solid gray;
}

.h-border-top {
  width: 100%;
  border-top: 1px solid gray;
}

input.parsley-error {
  border-color: $danger;
  @include box-shadow(inset 0 1px 1px rgba($danger, .075));
}

.group-check.parsley-error{
  border-color: $danger;
  @include box-shadow(inset 0 1px 1px rgba($danger, .075));
}
select.parsley-error {
  border-color: $danger;
  @include box-shadow(inset 0 1px 1px rgba($danger, .075));
}

.parsley-errors-list {
  font-size: $font-size-sm;
  padding-left: 0;
  margin-bottom: 5px;

  li {
    list-style: none;
    color: $danger;
  }
}


/**
 * Jasny Bootstrap
 * Fileinput.less
 */

.fileinput.fileinput-new {
  .thumbnail {
    padding: $thumbnail-padding;
    line-height: $line-height-base;
    background-color: $thumbnail-bg;
    border: $thumbnail-border-width solid $thumbnail-border-color;
    border-radius: $thumbnail-border-radius;
    transition: all .2s ease-in-out;
    @include box-shadow(0 1px 2px rgba(0, 0, 0, .075));
  }
}

.fileinput-preview.fileinput-exists {
  border: 1px solid $input-border-color;
  border-radius: $border-radius;
  padding: 5px;
}

.fileinput.input-group {
  display: flex;
}

.fileinput-new.input-group .btn-file,
.fileinput-new .input-group .btn-file {
  border-radius: 0 $border-radius $border-radius 0;

  &.btn-xs,
  &.btn-sm {
    border-radius: 0 $border-radius-sm $border-radius-sm 0;
  }

  &.btn-lg {
    border-radius: 0 $border-radius-lg $border-radius-lg 0;
  }
}

.fc {
  font-family: 'Courier New', Courier, monospace
}


.pagination {
  display: inline-block;
  padding-left: 0;
  margin-top: $spacer-y;
  margin-bottom: $spacer-y;
  @include border-radius();

  >li {
    display: inline; // Remove list-style and block-level defaults

    &:first-child {
      a {
        margin-left: 0;
        @include border-left-radius($border-radius);
      }
    }

    &:last-child {
      a {
        @include border-right-radius($border-radius);
      }
    }

    &.active a {
      @include plain-hover-focus {
        z-index: 2;
        cursor: default;
        border-color: $pagination-active-border;
      }
    }

    &.disabled a {
      @include plain-hover-focus {
        cursor: $cursor-disabled;
        border-color: $pagination-disabled-border;
      }
    }
  }

  >li>a {
    position: relative;
    float: left; // Collapse white-space
    padding: $pagination-padding-y $pagination-padding-x;
    margin-left: -1px;
    line-height: $line-height-base;
    text-decoration: none;

    @include hover-focus {
      border-color: $pagination-hover-border;
    }
  }
}

.rightalign {
  text-align: right;
}

.nopad {
  padding-top: 0px;
  padding-bottom: 0px;
}

.modal-title-bar {
  background-color: #4175ab;
  color: #ffff
}

/*Business Card Css */
.business-card {
  border: 1px solid #cccccc;
  background: #f8f8f8;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.profile-img {
  height: 120px;
  background: white;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.trlm_log {
  display: block;
  height: auto;
  width: 52px;
  padding-top: 5px;
  margin-right: 15px;
}

$blue-gray 			    : #34495e;
$blue-gray-darken 	: #2c3e50;
$blue 				      : #3498db;
$blue-darken 		    : #2980b9;
$green 				      : #1abc9c;
$green-darken 		  : #16a085;


.breadcrumb{
  list-style:none;
  display: inline-block;

  .icon{
    font-size: 14px;
  }

  li{
    float:left;
    a{
      color:#FFF;
      display:block;
      background: $blue;
      text-decoration: none;
      position:relative;
      height: 40px;
      line-height:40px;
      padding: 0 10px 0 5px;
      text-align: center;
      margin-right: 23px;
    }
    &:nth-child(even){
      a{
        background-color: $blue-darken;

        &:before{
          border-color:$blue-darken;
          border-left-color:transparent;
         }
        &:after{
          border-left-color:$blue-darken;
        }
      }
    }
    &:first-child{
      a{
        padding-left:15px;
        @include border-radius(4px 0 0 4px);
        &:before{
          border:none;
         }
      }
    }
    &:last-child{
      a{
        padding-right:15px;
        @include border-radius(0 4px 4px 0);
        &:after{
          border:none;
         }
      }
    }

    a{
      &:before,
      &:after{
        content: "";
        position:absolute;
        top: 0;
        border:0 solid $blue;
        border-width:20px 10px;
        width: 0;
        height: 0;
      }
      &:before{
        left:-20px;
        border-left-color:transparent;
      }
      &:after{
        left:100%;
        border-color:transparent;
        border-left-color:$blue;
      }
      &:hover{
        background-color: $green;

        &:before{
          border-color:$green;
          border-left-color:transparent;
         }
        &:after{
          border-left-color:$green;
        }
      }
      &:active{
        background-color: $green-darken;

        &:before{
          border-color:$green-darken;
          border-left-color:transparent;
         }
        &:after{
          border-left-color:$green-darken;
        }
      }
    }
  }
}

.showlink{
  color: #218bc3;
}


.trlm-container{
  max-width: 100% !important;
}

.rq{
  background-color: lightyellow;
}

.green-check{
  color: green;
  font-weight: bold;
  font-size: 20px;
}
