@font-face {
    font-family: 'Proxima Nova';
    src: url('Proxima-Nova-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Aspira Medium';
    src: url('./Aspira-Medium.otf') format('OpenType');
}

h1,
h2,
h3,
h4,
h5 {
    font-family: myThirdFont;
}

.topnav .right {
    margin-right: 180px;
}

.topnav .left {
    margin-left: 180px;
}

body {
    font-size: 16px;
    font-family: "Proxima Nova";
}

:root {
    --primary-color: #e09d00;
    --secondary-color: #b42a41;
}

a {
    text-decoration: none
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1600px;
}

#register,
#signIn {
    color: #ccc;
    font-family: Georgia, "Times New Roman", Times, serif !important;
}

/* .sidenav {
    height: 720px;;
} */
.sidenav a,
.sidenav h4 {
    padding: 14px;
    margin: 0 15px 0 15px;
    height: 40px;
}

.sidenav a {
    transition: all 0.5s ease;
}

.sidenav a:hover,
.sidenav a:focus {
    background-color: teal !important;
    margin: 0 15px 0 25px;
}

.gbtn:hover {
    background: var(--primary-color);
    color: #fff;
    border-radius: 2px;
}

@media (min-width: 769px) {

    .header,
    .nav {
        display: flex;
    }

    .header {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("hero-image.jpg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text p {
    font-size: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    color: white;
}

.section-text {
    display: flex;
    justify-content: center;
}

.section-text p {
    font-size: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
}

.nav li {
    font-size: 16px;
    letter-spacing: 2px;
    padding-right: 20px;
}

.nav li:hover {
    border-bottom: 2px solid #e09d00;
}

nav li a:hover::before,
nav li a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

#renters:before,  {
    content: "";
    display: inline-block;
    height: 180px;
    margin: -280px 0 0;
}

.hoverable li {
    opacity: .9;
    transition: all 0.3s ease-out;
}

.hoverable tbody tr:hover {
    background-color: #b42a41;
    color: white;
    cursor: pointer;
    opacity: 1;
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
}

.white {
    background: #fff;
}

.relative{
    position: relative;
}
img {
    -webkit-filter: blur(2px);
    /* Safari 6.0 - 9.0 */
    filter: blur(2px);
}

.section-title {
    color: #383838;
    font-size: 29px;
    font-family: myThirdFont;
    text-align: center;
}

.section-title:after {
    background-color: #e09d00;
    content: " ";
    display: block;
    height: 2px;
    margin: 20px auto 25px;
    width: 130px;
}

.svg-icon svg.SvgIcon {
    width: 18px;
    height: 18px;
    fill: #585858;
}

.filter {
    display: grid;
}

.results {
    padding: 1em;
}

/* .grid > div:nth-child(odd){
    background: #eee;
} */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
}

.bold {
    font-weight: 500;
}

.card {
    background-color: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 8px #d8dbe3;
    -moz-box-shadow: 0 0 8px #d8dbe3;
    box-shadow: 0 0 8px #d8dbe3;
    padding: 20px;
    margin-bottom: 20px;
}

/* width: 100%;
    line-height: 64px;
    left: 0%;
    background-color: transparent;
    border: 3px solid rgba(0, 0, 0, 0.1);
    font-weight: 900;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.2); */
.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
}

.ripple:active:after {
    transform: scale(0, 0);
    opacity: .2;
    transition: 0s;
}

hoverable li {
    opacity: .9;
    transition: all 0.3s ease-out;
}

.tab {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    margin-left: 100px;
}

.tab > div {
    font-size: 20px;
    padding-bottom: 15px;
}

.line{
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.line1{
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.line2{
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr;
}

.line3{
    grid-column: span 3;
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr 0.7fr 1fr 0.7fr 0.5fr;
}

.line4{
    grid-column: span 3;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
}

.line5{
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;  
}
input {
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    line-height: 10px;
    width: 80%;
}
input:focus {
    background: transparent;
    border-bottom: 2px solid #b42a41;
    /* --primary-color: #e09d00; */
    /* --secondary-color: #b42a41; */
}

/* input,
input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
} */
input {
    font-size: 20px;
    line-height: 3;
}

/* input:focus{
    border-bottom: 2px solid #ccc;
} */

.nested {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 70px;
    grid-gap: 1em;
}

.nested>div {
    align-self: center;
    justify-self: center;
    border: 1px solid #eee;
    padding: 10px 60px;
}

#navbar {
    overflow: hidden;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding: 0px 80px 0px 80px;
    z-index: 1;
}

.sticky+.content {
    padding-top: 60px;
}

.app{
    background: #eee;
}

/*  Stepper */
/* Make circles that indicate the steps of the form: */
.tab {
    display: none;
}

.step {
    height: 25px;
    width: 25px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #4CAF50;
  }

  /* toggle */

.switch1,.switch2,.switch3,.switch4,.switch5 {
    display: flex;
    width: 65px;
    text-align: center;
    border-radius: 200px;
    background: #b42a41;
    /* background: #ef5350; */
    height: 28px;
    position: relative;
    overflow: hidden;
    transition: background ease-in-out 0.5s;
}
.switch5{
    margin-top: 10px;
}
.switch1>div,.switch2>div,.switch3>div,.switch4,.switch5>div {
    line-height: 26px;
    color: white;
    font-weight: 600;
    font-size: 12px;
}

.switch1.is-transitioned,.switch2.is-transitioned,.switch3.is-transitioned,.switch4.is-transitioned,.switch5.is-transitioned {
    /* background: #009688; */
    background: #7abecd;
}

.hidden{
    display: none;
}

.switch1.is-transitioned ~ .hidden{
    display: block;
}

.switch2.is-transitioned ~ .hidden{
    display: block;
}

.switch3.is-transitioned ~ .hidden{
    display: block;
}
.switch4.is-transitioned ~ .hidden{
    display: block;
}
.switch5.is-transitioned ~ .hidden{
    display: block;
}

.switch1.is-transitioned .handle {
    -webkit-transform: translateX(40px);
    transform: translateX(34px);
}

.switch2.is-transitioned .handle {
    -webkit-transform: translateX(40px);
    transform: translateX(34px);
}
.switch3.is-transitioned .handle {
    -webkit-transform: translateX(40px);
    transform: translateX(34px);
}
.switch4.is-transitioned .handle {
    -webkit-transform: translateX(40px);
    transform: translateX(34px);
}
.switch5.is-transitioned .handle {
    -webkit-transform: translateX(40px);
    transform: translateX(34px);
}
.on {
    width: 50%;
}

.off {
    width: 50%;
}

.handle {
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    background: white;
    top: 2px;
    left: 3px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    transition: -webkit-transform ease-in-out 0.5s;
    transition: transform ease-in-out 0.5s;
    transition: transform ease-in-out 0.5s, -webkit-transform ease-in-out 0.5s;
}

/* Custom select */
.checkcontainer {
    display: block;
    position: relative;
    margin: 0px 20px 0px 20px;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.radiobtn {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #ccc;
    /* background-color: #eee; */
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
/* .checkcontainer:hover input ~ .radiobtn {
    background-color: #ccc;
} */

/* When the radio button is checked, add a blue background */
.checkcontainer input:checked ~ .radiobtn {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiobtn:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */

.checkcontainer > input ~ .checkcontainer {
    display: none;
}

.checkcontainer > input:checked ~ .checkcontainer > .title {
    display: block;
}

/* .checkcontainer input:checked ~ .checkcontainer {
    display: block;
} */

/* Style the indicator (dot/circle) */
.checkcontainer .radiobtn:after {
 	top: 5px;
	left: 5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkcontainer:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkcontainer input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkcontainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkcontainer .checkmark:after {
    left: 10px;
    top: 7px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.addbtn{
    background-color: #b42a41;
    color: white;
    margin-top: 20px;
}

td, tr, th {
    border: 1px solid #ccc;
}

td,tr:focus{
    outline: 0;
}
table {
    border-collapse: collapse;
}
td, th {
    min-width: 50px;
    height: 21px;
}
span {
    width: 100%;
    display: block;
}

.idetail{
    width: 650px;
}

/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    font-family: Arial;
  }
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  .select-selected {
    background-color: white;
  }
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #000 transparent transparent transparent;
  }
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
  
    color: #000;
    top: 7px;
  }
  /*style the items (options), including the selected item:*/
  .select-items div {
    color: #000;
    padding: 12px 16px;
    border-left: #ccc; border-right: #ccc;border-style: solid;border-width: 1px;
    border-bottom: none;border-top: none;
    user-select: none;
  }
  .select-items :last-child {
    border-bottom: 1px solid #ccc;
  }
  .select-selected {
    color: #000;
    padding: 12px 16px;
    border: 1px solid #ccc;
    cursor: pointer;
    user-select: none;
  }
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: #fff;
    height: 300px;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    overflow: scroll;
  }
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  .select-items div:hover, .same-as-selected {
    background-color: #f5f5f5;
  }
  