<div class="modal-header" style="background-color:#4175ab; color: #ffff">
  <h4 class="modal-title pull-left" >Add Product Group</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="reset(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form id="addproductsgroupform" #addproductsgroupform="ngForm" role="form" class="form-horizontal" data-parsley-priority-enabled="false" novalidate="novalidate"
  data-parsley-validate data-parsley-focus="first">
  <!-- Environment -->
  <div class="form-group row">
    <div class="col-md-2"></div>
    <label for="name" class="col-md-2 form-control-label text-md-right">Environment
      <span class="help-block">Required </span>
    </label>
    <div class="col-md-6 col-xs-12">
        <select required title="Sector" name="environment" class="form-control fdatable" id="sel-pg-env"
        [(ngModel)]="selEnvironment" [ngModelOptions]="{standalone: true}"
        placeholder="Select Environment"
        data-parsley-required-message="Error: Environment is required">
        <option></option>
        <option *ngFor="let env of environments" [ngValue]="env.refValue">{{env.refValue}}</option>
      </select>
    </div>
    <div class="col-md-2"></div>
  </div>
  <!-- Product Group -->
  <div class="form-group row">
    <label for="client-sector" class="col-md-4 form-control-label text-md-right">
      Product Group
      <span class="help-block">Required </span>
    </label>
    <div class="col-md-6 col-xs-12">
      <select required title="Sector" name="prod-group" class="form-control fdatable" id="sel-pg-group"
       [(ngModel)]="selProductGroupId" [ngModelOptions]="{standalone: true}"
        placeholder="Select Product Group"
        data-parsley-required-message="Error: Product Group is required">
        <option></option>
        <option *ngFor="let pg of productgroups" [ngValue]="pg.productGroupId">{{pg.productGroupName}}</option>
      </select>
    </div>
  </div>
</form>
</div>
<div class="modal-footer">
  <button type="button" id="btn-save" class="btn btn-primary" (click)="onAddProductGroup()">Add Product Group</button>
  <button type="button" class="btn btn-secondary" (click)="reset(false)">Cancel</button>
</div>
