<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown ml40">
        <a class="nav-link" [routerLink]="['/app/bom/search', { q:'new'}]" id="mnu-nav-home" role="button">
          <i class="fa fa-home txt-gap"></i>Home
        </a>
        <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-home txt-gap"></i>Home
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/app/dashboard']"><i class="fa fa-eye txt-gap"></i>View Dashboard</a>
        </div> -->
      </li>
      <li class="nav-item dropdown ml40">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-list-alt txt-gap"></i>BOM
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/app/bom/search', { q:'new'}]"><i class="fa fa-list-alt txt-gap"></i>View BOMs</a>
          <div class="dropdown-divider"></div>
          <!-- <a class="dropdown-item" [routerLink]="['/app/forms/bulkprodupload']"><i class="fa fa-upload txt-gap"></i>Upload BOM</a> -->
        </div>
      </li>
      <li class="nav-item dropdown ml40">
        <a class="nav-link dropdown-toggle" href="#" id="mnu-settings" role="button" data-toggle="dropdown" (aClick)="setNavItemActive('mnu-settings')"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-cog txt-gap" aria-hidden="true"></i>
          Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="mnu-settings">
          <a class="dropdown-item" [routerLink]=" ['admin/lookup']"><i class="fa fa-list txt-gap"></i>Lookups</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]=" ['/app/forms/prodgroup']"><i class="fa fa-list txt-gap"></i>Product Groups</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
