<div class="container">
  <main id="content" class="widget-login-container" role="main">
    <div class="row">
      <div class="col-xl-4 col-md-6 col-xs-10 offset-xl-4 offset-md-3 offset-xs-1">
        <h1 class="widget-login-logo animated fadeInUp">
          <i class="fa fa-circle text-gray"></i>
          TRLM
          <i class="fa fa-circle text-warning"></i>
        </h1>
        <section class="widget widget-login animated fadeInUp">
          <div class="widget-body">
            <form id="frm-resend" class="form-resend" method="POST" action="#" role="form" data-parsley-priority-enabled="false" novalidate="novalidate"
            data-parsley-validate data-parsley-focus="first">
              <div class="form-group">
                <h2>Resend Code</h2>
              </div>
              <div *ngIf="errorMessage!=null" class="alert alert-danger">
                {{ errorMessage }}
              </div>
              <div class="form-group">
                <label class="control-label" for="signupEmail">Username</label>
                <input id="signupEmail" type="text" maxlength="50" class="form-control" [(ngModel)]="username"
                  [ngModelOptions]="{standalone: true}"
                  >
              </div>
              <div class="form-group">
                <button (click)="resendCode()" id="signupSubmit" type="submit" class="btn btn-primary btn-block">
                  Resend Code
                </button>
              </div>
              <hr>
              <div class="row mt25">
                <div class="col-lg-6 col-xs-6">
                  <a [routerLink]="['/login/register']"> <i class="fa fa-fw fa-sign-in"></i> Register</a>
                </div>
                <div class="col-lg-6 col-xs-6">
                  <a [routerLink]="['/login']"> <i class="fa fa-fw fa-user"></i> Login</a>
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>
  </main>
</div>
