<div class="container">
  <main id="content" class="widget-login-container" role="main">
    <div class="row">
      <div class="col-xl-4 col-md-6 col-xs-10 offset-xl-4 offset-md-3 offset-xs-1">
        <h1 class="widget-login-logo animated fadeInUp">
          <i class="fa fa-circle text-gray"></i>
          TRLM
          <i class="fa fa-circle text-warning"></i>
        </h1>
        <section class="widget widget-login animated fadeInUp">
          <div class="widget-body">
            <form class="form-signin" method="POST" action="#" role="form">
              <div class="form-group">
                <h2>Set new password</h2>
              </div>
              <div *ngIf="errorMessage!=null" class="alert alert-danger">
                {{ errorMessage }}
              </div>
              <div class="form-group">
                <label class="control-label" for="signupEmail">Username / Email</label>
                <input id="signupEmail" type="email" maxlength="50" class="form-control" [(ngModel)]="registrationUser.username"
                  [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group">
                <label class="control-label" for="existingPassword">Temporary Password</label>
                <input id="existingPassword" type="password" maxlength="25" class="form-control" placeholder="at least 8 characters"
                  length="40" [(ngModel)]="registrationUser.existingPassword" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group">
                <label class="control-label" for="signupPassword">New Password</label>
                <input id="signupPassword" type="password" maxlength="25" class="form-control" placeholder="at least 8 characters"
                  length="40" [(ngModel)]="registrationUser.password" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group">
                <button (click)="onRegister()" id="signupSubmit" type="submit" class="btn btn-primary btn-block">
                  Set your password
                </button>
              </div>
              <hr>
              <p>Already have an account? <a [routerLink]="['/home/login']"> <i class="fa fa-fw fa-lock"></i>Login</a></p>
            </form>
          </div>
        </section>
      </div>
    </div>
  </main>
</div>
